[2013-10-05 22:10] rr- opened #1 "Editing own information"
- [x] E-mail
- [x] Password
- [x] Name (this one should be configurable)
- [x] Delete own account with e-mail and/or password confirmation

[2013-10-05 22:12] rr- opened #2 "Editing others' information"
An admin, moderator etc should be able to do following in regard to any user:
- [x] change e-mail
- [x] change password
- [x] change name
- [x] change access rank
- [x] ban
- [x] accept registration, if pending

[2013-10-05 22:13] rr- opened #3 "Listing users"
- [x] Gravatar support
- [x] Pagination
- [x] Linking to user pages
- [x] Special tab for admins/moderators for users pending registration acceptance (show tabs only if this feature is enabled in `config.ini`)
- [x] Sorting flavors

[2013-10-05 22:15] rr- opened #4 "User page"
- [x] Joined date
- [x] Gravatar
- [x] Access rank
- [x] List of uploaded posts (perhaps in form of a link to specific query?)
- [x] List of favorited posts (perhaps in form of a link to specific query?)
- [x] Controls from #1
- [x] Controls from #2

[2013-10-05 22:30] rr- opened #5 "Uploading posts"
- [x] Validate if user can upload post

Selecting post content itself
- [x] Drag'n'drop: http://html5demos.com/dnd-upload
- [x] Click to select: `<input type=file multiple/>`
- [x] ~~Paste URLs~~ might be implemented some day

For each image pasted that way, create a form containing following:
- [x] Content type (image, flash, ~~youtube~~ - guess based on source)
- [x] Live preview of images (plac

[2013-10-05 22:33] rr- opened #6 "Viewing posts"
- [x] The post content itself (images)
- [x] The post content itself (flash)
- [x] Tags
- [x] Flagging: SFW/sketchy/NSFW
- [x] Validate if given user can view the post
- [x] Uploaded by
- [x] Uploaded on
- [x] Favorited by
- [x] Controls from #7
- [x] Controls from #10

[2013-10-05 22:33] rr- opened #7 "Favoriting posts"
- [x] Adding to favorites
- [x] Removing from favorites

[2013-10-05 22:34] rr- opened #8 "Comments"
- [x] Viewing comments
- [x] Adding comment
- [x] Adding comment - preview
- [x] Own comment removal
- [x] Others' comment removal
- [ ] ~~Editing own comments~~ delete and repost, in a way it can be viewed as better approach
- [ ] ~~Editing others' comments~~ ditto. maybe in distant future
- [x] Processing contents with Markdown parser
- [x] Newest comments
- [x] Newest comments - grouping by pos

[2013-10-05 22:35] rr- opened #9 "Customize Markdown"
- [x] Normal newlines
- [x] Spoiler support (`[spoiler]...[/spoiler]`?)
- [x] Post permalink support (`@123`)
- [x] Tag permalink support (`#mushishi`)
- [x] Protect from HTML injection

[2013-10-05 22:38] rr- opened #10 "Editing posts"
- [x] Privileges management
- [x] Editing tags in own post
- [x] Editing tags in someone else's post
- [x] Tags autocomplete
- [x] If tags were edited by someone between page load and uploading changed tags, yield error
- [x] Editing flags: SFW/sketchy/NSFW in own post
- [x] Editing flags: SFW/sketchy/NSFW in someone else's post
- [x] Editing thumbnail if content-type = youtube or flash in own pos

[2013-10-05 22:41] rr- opened #11 "Listing posts"
- [x] Just browsing...
- [x] Thumbnails
- [x] Paging
- [x] Automatic page retrieval (configurable in `setup.ini`)
- [x] Search engine (#13)
- [x] Sorting engine (#12)

SFW/sketchy/NSFW:
- [x] Filter by privileges from config
- [x] Filter by user preferences
- [x] Changing safety settings will be remembered for user across logins
- [x] Changing safety settings into unprivileged safety is not possib

[2013-10-05 22:42] rr- opened #12 "Listing posts - sorting"
- [x] Chronologically
- [x] By tag count (?)
- [x] By favorite count
- [x] By comment count
- [x] Randomly

[2013-10-05 22:43] rr- opened #13 "Listing posts - searching"
- [x] No filter, just browsing
- [x] Containing tag X (`tag`)
- [x] Not containing tag X (`-tag`)
- [x] Uploaded by user X (`submit:john`, `upload:john`, `uploader:john`, `uploaded:john`)
- [x] Favorited by user X (`fav:john`, `favs:john`, `favoritee:john`, `favorited:john`)
- [x] Favorited by >= X users (`favmin:1`)
- [x] From Xth year/month/day (`date:2011`, `date:2011-10`, `date:2011-10-01`)
-

[2013-10-05 22:45] rr- opened #14 "Global tags manipulation"
- [x] Listing
- [x] Merging
- [x] Renaming

[2013-10-09 15:15] rr- opened #16 "Add jquery and google fonts locally"
Right now we mix downloading external dependancies with CDN usage. Since all devs suffer from OCD and CDN doesn't host everything we use, download all external dependancies in `/init.php`. These include JQuery and google font.

[2013-10-09 19:03] #16 closed, assigned to rr-

[2013-10-09 20:01] #5 closed, assigned to rr-

[2013-10-10 11:48] mard opened #17 "Provide post link on duplicate upload"
![duplicate](https://f.cloud.github.com/assets/864964/1305784/94205ad0-31a0-11e3-9e4a-b426e870584b.png)

---

Provide link to image in "Duplicate upload." message.

[2013-10-12 10:32] rr- opened #18 "Refactor error handling"
Right now every view has to contain code like "if there are errors, show them, otherwise do usual stuff". This kind of code is repetitive and should be moved to layout.

[2013-10-12 10:38] rr- opened #19 "Add benchmarks"
Benchmark HTML rendering times.
Be careful not to break file/thumbnail rendering.

[2013-10-12 10:46] oczki opened #20 "Separate class for flash posts"
Make a separate class for swf posts, so they're easily distinguishable from image posts. They could have a different border, shadow, whatever.

[2013-10-12 11:02] rr- opened #21 "Permalink should send file with meaningful file name"
Right now when you save permalinked image you get some md5 with no extension as file name. This should be changed. Some options are:
- ServiceName_ID.ext
- ServiceName_ID,tag1,tag2,tag3.ext
- original_file_name.ext

[2013-10-12 11:11] rr- opened #22 "Uploading multiple files: enforce proper order"
When user uploads multiple files, the files are ordered by whatever file finishes first.
This should be changed.
I think AJAXes should be chained instead of being sent all at once.

[2013-10-12 11:13] rr- opened #23 "Uploading multiple files: add "move up" and "move down" links"
When uploading order becomes meaningful (#22), user should be able to rearrange posts before uploading.

[2013-10-12 11:51] rr- opened #24 "JSON API doesn't work for /post/id"
`post` key that holds bean object returned from RedBeanPHP is empty in JSON reply for `/post/{id}?json` request. Fix this.

[2013-10-12 12:54] #7 closed, assigned to rr-

[2013-10-12 13:56] oczki opened #25 "Login/register pages"
- **Registration - initial state:**

![image](https://f.cloud.github.com/assets/2924029/1320181/1639d9f8-3343-11e3-9720-f216bffbc1f1.png)

Red link points to http://gravatar.com.

---
- **Registration - on error:**
  ![image](https://f.cloud.github.com/assets/2924029/1320180/0a81a866-3343-11e3-938d-8dc5907bd800.png)
- **Error text list:**
  - Error: This user name is already taken.
  - Error: Pass

[2013-10-12 17:47] oczki opened #26 "Error order in forms"
Report errors in their order of occurence (top to bottom).

[2013-10-12 21:15] #18 closed, assigned to rr-

[2013-10-12 21:15] #19 closed, assigned to rr-

[2013-10-13 10:28] #10 closed, assigned to rr-

[2013-10-13 11:17] #13 closed, assigned to rr-

[2013-10-13 11:38] #21 closed, assigned to rr-

[2013-10-13 11:53] #25 closed, assigned to rr-

[2013-10-13 11:53] #26 closed, assigned to rr-

[2013-10-13 19:00] #6 closed, assigned to rr-

[2013-10-13 20:58] #24 closed, assigned to rr-

[2013-10-14 11:10] rr- opened #27 "Investigate entity deleting"
If user gets deleted, his posts and comments should be kept.
Right now exceptions are thrown -- make everything work properly.

[2013-10-15 11:15] #1 closed, assigned to rr-

[2013-10-15 11:15] #2 closed, assigned to rr-

[2013-10-15 11:15] #4 closed, assigned to rr-

[2013-10-15 11:15] #27 closed, assigned to rr-

[2013-10-15 18:05] mard opened #28 "Change "old password" to "password" in account deletion tab"
![password](https://f.cloud.github.com/assets/864964/1336207/3fe791f4-35c4-11e3-86eb-a85a00d157c7.png)

Should be changed to "password" or "current password"

[2013-10-15 18:51] mard opened #29 "Additional information on thumbnails"
Thumbnail could reveal additional picture information, such as:
- uploader name and/or avatar, or uploader's stats
- metadata (size, filetype, time, flag, tags)
- view/favorite/comment count

Possible solutions:
- balloon tip on hover with 1 second delay (exhibit a)
- a small panel inside thumbnail containing basic info, should be sliding instantly on hover (exhibit b)

![hover-mockup](https://f.c

[2013-10-15 18:51] #28 closed, assigned to rr-

[2013-10-15 19:34] rr- opened #30 "Front page"
What I'd like to see on front page:
- great text about what you are looking at
- random picture of the day/week (threshold probably configurable)

aaand I'd like to have that shoutbox somewhere. But I don't think putting it on the front page is very good idea.

[2013-10-15 19:35] rr- opened #31 "Help text"
Topics that should be covered:
- safety (sfw/nsfw/sketchy)
- privacy policy (e-mails, only you and DB staff can see the e-mail)
- content policy (no cp)
- search syntax (see #13 and #12)
- faq?
  - how to delete your account

[2013-10-15 20:49] #11 closed, assigned to rr-

[2013-10-15 20:49] #12 closed, assigned to rr-

[2013-10-16 11:13] #3 closed, assigned to rr-

[2013-10-16 11:13] #20 closed, assigned to rr-

[2013-10-16 14:54] mard opened #32 "Email address confirmation and restrictions"
Provide following global options:
- Confirmed E-mail address needed for registration
- Confirmed E-mail address needed for uploading files
- Confirmed E-mail address needed for posting comments

When user decide to change his e-mail, he should provide his current password. If password is correct, confirmation email will be sent to his new e-mail address. E-mail address (and gravatar linked to it)

[2013-10-16 16:38] #32 closed, assigned to rr-

[2013-10-16 18:53] mard opened #33 "Flash file thumbnails"
Figure out a way to extract frames from flash animations. They should be placed automatically as a file thumbnail on upload.

[2013-10-16 18:59] #31 closed, assigned to rr-

[2013-10-16 19:03] mard opened #34 "Keyboard shortcuts"
It would be nice to have some basic keyboard shortcuts `←` for prev post and `→` for next post

We might also consider using [danbooru style shortcuts](http://www.donmai.us/static/keyboard_shortcuts).

[2013-10-16 19:16] mard opened #35 "Source field for uploaded file"
User should be able to provide custom source link (or description if it's not an URL) for uploaded files.

[2013-10-16 19:18] mard opened #36 "Upload from URL (dependent on #35)"
Upload files from URL. Source field should be filled automatically based on source URL, but it should be possible to edit it before upload.

[2013-10-16 19:20] mard opened #37 "YouTube submissions (dependent on #36)"
User should be able to submit YouTube clips from URL.

Thumbnail should be generated automatically.

[2013-10-17 06:17] rr- opened #38 "Add cron job for purging redundant users"
User is redundant when they must activate their account by e-mail in order to finish registration, but haven't done so in last 7 days.

[2013-10-17 18:21] rr- opened #39 "Endless scrolling should be user customizable"
I saw my friend browsing through some image service on her mobile device. She often accidentally clicked a post instead of scrolling the page and every time she went back to post list, she had to load all the pages again (since it didn't remember the loaded ones). It was annoying especially due to poor wifi signal.

Although this is very specific use case, my point is that endless scrolling can ca

[2013-10-17 18:40] rr- opened #40 "Sidebar should be hideable"
Users should be able to show/hide sidebar in posts on demand, like on http://wallbase.cc.

[2013-10-17 18:41] rr- opened #41 "Mobile stylesheets"
Make sure everything works nice on mobile devices.
Making upload work isn't necessary, just make sure browsing posts works A-okay.

However it would be nice to show friendly alert if upload isn't possible due to user browser not supporting newest standards.

[2013-10-17 18:59] rr- opened #42 "Add script for purging unneeded files"
After post gets deleted, its original file isn't removed for backup reasons.
A script is needed to deal with such detached files. Options wanted:
- `-remove` - just remove them on sight
- `-move DIR` - move everything to specified DIR for further review
- `-print` - just print the list

[2013-10-17 21:10] rr- opened #43 "Refactor privileges helper"
1. User should be automatically guessed from context.
2. `$secondary = ... ? 'own' : 'all'` <-- kill it with fire. It's everywhere.

[2013-10-17 21:39] #8 closed, assigned to rr-

[2013-10-17 22:11] #43 closed, assigned to rr-

[2013-10-17 22:31] #42 closed, assigned to rr-

[2013-10-19 23:03] #9 closed, assigned to rr-

[2013-10-19 23:03] #14 closed, assigned to rr-

[2013-10-19 23:03] #17 closed, assigned to rr-

[2013-10-19 23:03] #22 closed, assigned to rr-

[2013-10-19 23:03] #23 closed, assigned to rr-

[2013-10-19 23:03] #29 closed, assigned to rr-

[2013-10-19 23:03] #30 closed, assigned to rr-

[2013-10-19 23:03] #35 closed, assigned to rr-

[2013-10-19 23:03] #41 closed, assigned to rr-

[2013-10-19 23:16] rr- opened #44 "Database upgrades engine"
Bootstrap is about to call `R::freeze()` at its start-up. This is going to disable dynamic table/column creation. However, database schema is by no means final and it will probably keep changing in the future. This means we are possibly going to make hand-crafted database upgrade scripts. We need a mechanism that will formalize execution of such scripts.

[2013-10-20 09:13] #44 closed, assigned to rr-

[2013-10-21 10:27] rr- opened #45 "Remember user credentials"
- Add "remember me" checkbox to login page
- Encrypt and decrypt password cookie with salt. This won't make cookie authentication immune to "sophisticated" attacks, but IMO it isn't needed on niche image boards.

[2013-10-21 10:59] oczki opened #46 "Case sensitivity in tags"
Right now it's impossible to find posts tagged as `Haruhi` with query `haruhi`. It should ignore case.

[2013-10-21 11:02] oczki opened #47 "Tags autocomplete in search"
Add tags autocomplete in search field.

[2013-10-21 11:03] oczki opened #48 "Autocomplete when entering part inside existing tag"
When user inputs `yuki` and there's an existing tag `Nagato_Yuki`, the autocomplete should suggest it.

[2013-10-21 12:48] #46 closed, assigned to rr-

[2013-10-21 12:48] #47 closed, assigned to rr-

[2013-10-21 12:48] #48 closed, assigned to rr-

[2013-10-21 22:17] #39 closed, assigned to rr-

[2013-10-22 09:40] #45 closed, assigned to rr-

[2013-10-22 19:44] #33 closed, assigned to rr-

[2013-10-24 14:41] #38 closed, assigned to rr-

[2013-10-25 07:40] mard opened #49 "Don't hide drop box for file uploads"
User should have a ability to add more files to upload if he wishes to. It isn't possible at the moment because drop box disappears after selecting some files

[2013-10-25 07:59] #36 closed, assigned to rr-

[2013-10-25 07:59] #49 closed, assigned to rr-

[2013-10-25 08:24] #40 closed, assigned to rr-

[2013-10-25 12:57] #37 closed, assigned to rr-

[2013-10-25 13:44] #34 closed, assigned to rr-

[2013-10-25 14:09] wrkeizer opened #50 "Registered users can change browsing settings of other users"
It appears that users (without privileges, like me) are are able to view and even change (!) the browsing settings of other users.
![screen shot 2013-10-25 at 16 08 08](https://f.cloud.github.com/assets/5406740/1408260/f5323ef8-3d7e-11e3-94ad-a3f71b251af7.png)

[2013-10-25 15:25] #50 closed, assigned to rr-

[2013-10-26 12:26] oczki opened #51 "Allow anonymous uploads"
On upload, allow selecting "Upload anonymously" for each file, which hides uploader's nickname.

[2013-10-26 12:28] oczki opened #52 "Fix actions for guests"
Right now if guest creates a post, 'Anonymous' user gets created in DB.
This is stupid and should be fixed.
All other actions should be reviewed as well.

[2013-10-27 18:26] rr- opened #53 "Keep track of thumbnail sources"
Default thumbnails should get `.default` suffix, while custom ones should get `.custom`.
That way administrator can remove all non-custom thumbnails without removing custom ones as well.

[2013-10-27 19:52] #52 closed, assigned to rr-

[2013-10-27 19:52] #53 closed, assigned to rr-

[2013-10-27 21:45] oczki opened #54 "Masstag for moderators"
Add a Masstag option to /tags page.

![image](https://f.cloud.github.com/assets/2924029/1416433/cc3b7770-3f50-11e3-8f3e-c6bfd3985ff8.png)

Moderator can narrow down the list of posts to masstag. After clicking Start!, user is presented with slightly modified version of browsing - listed posts have green tint if they already have the specified tag, and red tint if they don't. Clicking on any post t

[2013-10-27 21:48] oczki opened #55 "Search by post ID"
- `id:5`
- `id:5,14,254`
- `idmin:200`
- `idmax:300`

[2013-10-27 21:55] #55 closed, assigned to rr-

[2013-10-29 22:04] #54 closed, assigned to rr-

[2013-10-30 16:08] #51 closed, assigned to rr-

[2013-11-03 00:46] mard opened #56 "Tag sorting on autocomplete"
This is a small but useful enhancement.

Tags in autocomplete tag dropdown should be sorted by their post count. This will allow to access most used tags more quickly by reducing `↓` key presses.

Example: Search phrase is `ske`. `basketball` post count is 1, but `Hidamari_Sketch` is whooping 154. Tags should be ordered not alphabetically, but by their relevance.

![tag search](https://f.cloud.git

[2013-11-03 09:31] #56 closed, assigned to rr-

[2013-11-13 04:26] cnvo opened #57 "Reporting posts and users"
Not sure about an individual post itself, but it would be nice if there was a way to report images that aren't marked with the correct rating or is questionable. Reporting users, for obvious reasons.

[2013-11-13 07:32] rr- opened #58 "Rating individual posts"
@cnvo said:

[2013-11-13 18:34] cnvo opened #59 "Rename AbstractQueryBuilder"
PHP Fatal error:  Interface 'AbstractQueryBuilder' not found in /src/Models/Model_Comment_QueryBuilder.php on line 3

You will need to modify the **AbstractQueryBuilder** to **AbstractQueryBuilder.php**
Otherwise nothing will work.

[2013-11-13 18:45] #58 closed, assigned to rr-

[2013-11-13 18:45] #59 closed, assigned to rr-

[2013-11-13 19:03] cnvo opened #60 "Error in PostController.php on line 236"
**Parse error: syntax error, unexpected 'finally' (T_STRING), expecting catch (T_CATCH) in /src/Controllers/PostController.php on line 236**

I think you have the word "finally" in there, but I'm not sure if that's suppose to be a comment or something else.

Additionally when commenting this out, another error is thrown: **Parse error: syntax error, unexpected '{', expecting catch (T_CATCH) in /ho

[2013-11-13 19:16] rr- opened #61 "Implement extensive logging"
Every action that has to do with modifying DB records should be logged somewhere.

Now, here are my experiences with logging, summarized in rough unordered list:
- We can put logs in DB.
- We can do it in the following ways:
  - Each piece of log is just a raw string (like "user X has done Y"),
  - Each meta information (such as post ID, user ID, ...) has its own column (like: `post_id=X`, `user_i

[2013-11-13 19:16] #60 closed, assigned to nobody

[2013-11-13 20:09] cnvo opened #62 "Forgot password"
Incase users forget their passwords. >.>

[2013-11-13 21:44] cnvo opened #63 "ErrorException Undefined property: Chibi\Context::$score”"
`ErrorException „Undefined property: Chibi\Context::$score” thrown at /src/Views/post-view.phtml:82`

When posting an image as an admin, it throws this error. Not sure about the other permissions as I didn't test this out.

[code]

[2013-11-13 22:33] #63 closed, assigned to nobody

[2013-11-14 22:07] cnvo opened #64 "No duplicate images"
This can be done by simply adding a hash to the image header or whatever method you think its better. Duplicate images take up space for no reason. If there's one image, the same exact image that a user has already uploaded on the site, then the upload should terminate upon discovery and throw an error such as:

Duplicate image then maybe the post # of the image that it is a duplicate of.

This no

[2013-11-14 22:12] #64 closed, assigned to nobody

[2013-11-16 18:25] #62 closed, assigned to rr-

[2013-11-17 13:54] #57 closed, assigned to rr-

[2013-11-17 13:54] #61 closed, assigned to rr-

[2013-11-18 08:05] cnvo opened #65 "0.5.0"
What is road mapped for this version?

[2013-11-18 09:03] #65 closed, assigned to nobody

[2013-11-20 21:11] rr- opened #66 "Customizable help/privacy/rules pages"
Customization achievable by config: each of pages gets separate key for path to the file with Markdown text. If the path for given page is empty, link to that page won't be shown on the site.

Requesting @tehoko to put separate markdown text for rules, privacy policy and help. Each of these will be used for serving default text that can be changed later by the user.

[2013-11-20 21:12] rr- opened #67 "Option to disable logging anonymous uploads"
Right now anonymous uploads appear in logs with user nick becoming not so anonymous.
This should be configurable.

[2013-11-23 19:02] #66 closed, assigned to nobody

[2013-11-23 19:02] #67 closed, assigned to rr-

[2013-12-30 23:06] rr- opened #68 "Add window close confirmation dialog"
Sensitive operations such as:
- comment posting
- tag editing
- post uploading

...should warn about closing the window in order to prevent data loss and user frustration.

[2014-01-26 21:34] rr- opened #69 "Add pagination to logs"
Logs can be very long and thus load forever. Pagination with page size equal to 250 log lines (changeable in `config.ini`) seems to be reasonable solution.

[2014-01-27 08:22] #69 closed, assigned to rr-

[2014-01-31 23:57] mard opened #70 "Search by hidden posts"
add `special:hidden` syntax to filter all hidden posts submitted by all users

[2014-02-02 17:54] #68 closed, assigned to rr-

[2014-02-02 17:54] #70 closed, assigned to rr-

[2014-02-02 21:36] oczki opened #71 "Tags with parentheses not parsed correctly in logs"
If a tag contains parentheses, its link in logs ends before the opening parenthesis, pointing to nonexistent tag (in this case: `Android_`).

![image](https://f.cloud.github.com/assets/2924029/2061435/cca9bd72-8c51-11e3-9003-468d76eeff9a.png)

[2014-02-02 21:47] #71 closed, assigned to rr-

[2014-02-04 20:27] mard opened #72 "Not found page should return HTTP 404"
not found page should return HTTP 404 but returns 200 instead

[2014-02-04 20:30] mard opened #73 "Stylesheet missing on error pages"
css styles are missing for 404 pages

[2014-02-05 07:35] #72 closed, assigned to rr-

[2014-02-05 07:35] #73 closed, assigned to rr-

[2014-02-22 10:39] mard opened #74 "too wide margins on mobile"

[2014-04-08 14:07] oczki opened #75 "Support WEBM file format"

[2014-04-08 15:06] #74 closed, assigned to rr-

[2014-04-09 12:20] #75 closed, assigned to rr-

[2014-04-24 22:15] oczki opened #76 "Don't count hidden posts when counting tags"
As things are now, hidden posts are counted towards overall number of tag occurences, which may seem weird to normal users who see "tag_name 4" and find 3 posts instead of 4, when one of them is hidden.

Thing to note: If all tag occurences happen to be in hidden posts, it would say 0. Is this desirable? Or maybe the counter should show a different value for normal users and for admins?...

[2014-05-28 09:01] #76 closed, assigned to rr-

[2015-04-03 00:04] neko opened #77 "Routes apparently not working."
Whenever, I load the homepage of my Szurubooru installation, I get this error:
![image](https://cloud.githubusercontent.com/assets/6992756/6976112/795cde94-d9ec-11e4-98ce-d4b3b2a45cea.png)

When I looked in the console, I saw something about /api/login/ returning a 404, so I looked at the address and saw this:
[code]
I'm uncertain whether this has something to do with my nginx rewrites (which seem

[2015-04-03 06:52] rr- commented on #77
Have you tried setting up Apache with `.htaccess`?

[2015-04-03 06:56] rr- commented on #77
Also, if you look at `.htaccess`, you'll see it uses `$0`.

Instead of

    rewrite ^\/?api\/(.*) /api-dispatch.php?q=$1 last;

you can try doing

    rewrite ^\/?api\/(.*) /api-dispatch.php?q=$0 last;

[2015-04-04 20:53] rr- commented on #77
@cronhound bump for status update

[2015-04-05 01:04] cronhound commented on #77
Sorry, busy for the weekend. Will test this on Monday.

On Sun, Apr 5, 2015 at 6:23 AM, Marcin Kurczewski <notifications@github.com>
wrote:

[2015-09-27 19:40] rr- commented on #77
Closing due to inactivity

[2015-09-27 19:40] #77 closed

[2016-03-08 20:11] kotcrab opened #78 "Installation instructions are outdated"
I'm trying to install Szurubooru on my local server but looks like the installation instructions are outdated. Eg. [INSTALL.md](https://github.com/rr-/szurubooru/blob/master/INSTALL.md) states that  `pdo_sqlite` is needed but sqlite support was dropped in 9ca712cc6d258b74dfa53067ae72c1af8898eda6.
Instructions on wiki seems even more outdated, they mention non existent `init.php` script.

[2016-03-08 20:41] rr- commented on #78
Oh boy, I haven't visited wiki for this repo in *ages*. Gonna fix it asap once I familiarize myself with the current installation procedures using a bare machine as a reference.

[2016-03-08 20:52] kotcrab commented on #78
Heh that's ok, that sqlite part confused me for a while when I saw MySQL in config ;) While you are at it you can also update/remove [instructions for nginx](https://github.com/rr-/szurubooru/wiki/Using-nginx-with-Szurubooru).

[2016-03-08 21:55] rr- commented on #78
Updated the installation guide and removed obsolete `nginx` instructions (which were donated by some unaffiliated user in 2013).

[2016-03-08 22:17] kotcrab commented on #78
Might be worth mentioning that MySQL is needed in [Prerequisites](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#prerequisites).

Thanks for doing that, I'll try to finish installing tomorrow. Maybe I'll try to create some installation script if I find some time.

[2016-03-08 22:17] #78 closed

[2016-03-13 10:22] kotcrab opened #80 "Endless scroll does not allow to scroll up"
Endless scroll could be improved, eg. if you go to `#/posts/page=2` you will be on page 2 without option to scroll up, you can only scroll down. Would be nice if scrolling up would also be supported.

I also found an issue that this creates:
1. Enable endless scroll in settings
2. Go to post list
3. Click any of green/yellow/red buttons to filter posts, click it again. You will be on page 2 withou

[2016-03-18 16:46] rr- commented on #80
This is kind of unrelated, but I'm considering technology shift (C#+ServiceStack+NHibernate for the backend, and something statically typed with as few dependencies as possible for the frontend). What is your opinion on this?

[2016-03-18 21:02] kotcrab commented on #80
You can always create new issue and call someone with @kotcrab, I'm not really the best person to ask since I don't have much experience with webdev. Personally I like the simplicity of running PHP app, eg. compared to Danbooru which I couldn't even mange to run because of some obscure Ruby errors but hey if that's what you really want to do then go for it.

[2016-04-17 07:50] rr- opened #83 "2.0 roadmap - server"
- [x] Documentation
- [x] Basic backend structure
    - [x] JSON handling
    - [x] Error handling
    - [x] File uploads
    - [x] Database integration
    - [x] Configuration
    - [x] Authentication
    - [x] ~~Rate limiting~~ let nginx/apache deal with it
- [x] Bumping last login time
- [x] Search engine (subject to change)
- [x] Thumbnail management (`ffmpeg` based)
- [x] Pagination
- [x] Use

[2016-04-17 07:53] rr- opened #84 "2.0 roadmap - client"
- [x] Bumping last login time
- [x] Top navigation (might be subject to changes)
- [x] Help
- [x] Endless scroll
- [x] Normal scroll
- [x] Reusable file dropper control
- [x] Reusable tagger control
    - [x] Adding new tags
    - [x] Adding implications
    - [x] Removing existing tags
    - [x] Coloring by category
    - [x] Removing duplicates
    - [x] Suggestions and siblings on tag click
- [

[2016-04-17 21:51] kotcrab opened #85 "Post auto tagger idea"
I'd like to make post auto tagger for szurubooru2, I've created [this project](https://github.com/kotcrab/szurubooru-auto-tagger). So far it can send images to IQDB and get tags from Danbooru posts.

My idea is to periodically check for posts with specific tag (`iqdb_tagme` but configurable in options) and then query IQDB, get tags from Danbooru and update tags on szurubooru posts using it's rest

[2016-04-17 22:19] rr- commented on #85
Sounds great - I like how it can be run separately from szurubooru's internals and communicate via its REST API, and therefore can be managed via cron jobs.

However, I have a concern regarding tag sync - what if Danbooru changes something, or szurubooru's users rename / merge / split their tags, and auto tagger mixes them up after next run? My preliminary suggestion would be to offer config with

[2016-04-17 22:24] rr- commented on #80
Both issues appear to be solved in 2.x and can be tested on the user list. Sorry for all the trouble with the repository rotation, it should be pretty stable from now on.

[2016-04-18 14:04] kotcrab commented on #80
I haven't setup 2.x yet so I can't test it. I think this issue can be closed if you don't intend to fix this in 1.x.

No problem.

[2016-04-18 16:51] tehoko commented on #85
That's a lot of after-deployment configuration to leave to the administrator. I wouldn't want to manually deal with CSS after installing szurubooru.

A more painful to implement, but in turn more user-friendly option would be to allow admins to manage tag categories via some additional page:

![image](https://cloud.githubusercontent.com/assets/2924029/14612089/c75aabfa-0595-11e6-819c-d60155d469d4.

[2016-04-18 17:02] rr- commented on #85
That's understandable. So, judging from the mockup, you want the tag categories to be a set of fixed values, rather than freeform strings. I prefer it that way as well.

But regarding the proposed UI itself: isn't configuring it via [config file](https://github.com/rr-/szurubooru/blob/master/config.yaml.dist#L40-L46) sufficient? Having a config file is a definite must - you have to define database

[2016-04-18 17:07] tehoko commented on #85
It depends if you want the moderators/administrators who are not the owners of the server (no access to its filesystem) to be able to control this.

[2016-04-18 17:10] rr- commented on #85
Hm, that's a good question. I believe so. Maybe we could add it near the search input, like this?

![20160418_190943_qab](https://cloud.githubusercontent.com/assets/1045476/14612747/21e8b3fc-0599-11e6-9bd5-acfbc39999f0.png)

[2016-04-18 17:12] tehoko commented on #85
Looks good.

---

I don't think I understand. In the mockup, the white boxes are input fields, allowing the categories to be renamed. If you're talking about editing a single tag's category, then yes, the choice there would be limited to what's already set in the mocked up page (limited via dropdown or radiobox).

[2016-04-18 18:08] kotcrab commented on #85
I agree such configuration would be required. Also URL acquired from IQDB should be stored in some way. I was thinking about storing it in source element of szububooru post or make auto tagger use it's own datebase but that sounds like overcomplicating.

As the tags category goes: that UI looks nice but IMO tags categories aren't something that would change very often so config file might be enoug

[2016-04-21 07:04] princessGasmask opened #86 "Javascript from "localhost": Fatal Authentication Error."
I got this error after installing. The site appears to be loading and I can see the "Home", "Login", "Register" and "Help" buttons, but none of them do anything. I'm installing version 1.1 on windows 10 using XAMPP if that helps.

[2016-04-21 07:08] rr- commented on #86
What browser are you using? Does the developer console show anything out of ordinary?

[2016-04-21 07:11] princessGasmask commented on #86
I'm using Vivaldi. My console has 3 errors.
http://puu.sh/oqgac/d47d5fe498.png

[2016-04-21 07:15] rr- commented on #86
Looks like

1. You haven't enabled `mod_rewrite` in Apache - please [try these instructions](https://github.com/rr-/szurubooru/blob/1.x/INSTALL.md#enabling-required-modules-in-apache)
2. You haven't compiled the assets (such as fonts etc.) - please [try running `grunt`](https://github.com/rr-/szurubooru/blob/1.x/INSTALL.md#compiling-assets). `grunt` should be included after you've installed `npm`

[2016-04-21 07:19] princessGasmask commented on #86
mod_rewrite should already be active. Also, I've already run composer update and npm update within the szuru directory, unless there was something I was supposed to do beforehand. Also, mod_rewrite should already be active.
http://puu.sh/oqgpM/2af3aad9f4.png

[2016-04-21 07:38] princessGasmask commented on #86
Not sure if I did this part right, but grunt upgrade and build do work with no errors.
http://puu.sh/oqham/928c44c2b4.png

[2016-04-21 08:16] rr- commented on #86
I apologize, but I'm afraid I don't know how to help you. From the info you've posted, looks like everything should work - at the very least, the calls to the API shouldn't return 404.

[2016-04-21 11:46] princessGasmask commented on #86
I figured it was just a wonky thing with me specifically. I've had similar issues with things that use Node where they appear to be setup properly but simply don't work for unexplained reasons. I appreciate you trying to help anyways. :)

[2016-04-21 11:46] #86 closed

[2016-04-23 20:14] princessGasmask opened #87 "I'm back."
I reinstalled everything fresh and got the booru to install finally. However, now that it is installed, I can see the "Home", "Login", "Register" and "Help" buttons (with icons this time, which didn't load the first time), however, none of the buttons do anything when clicked. Checking the errors within my browser only calls one: "Uncaught TypeError: b.match is not a function."

http://puu.sh/ot7W

[2016-04-24 07:08] rr- commented on #87
Can you show network communication between the client and the server?

[2016-04-24 12:33] princessGasmask commented on #87
It appears to be loading, gets to about 90 percent in the progress bar and never finishes.

[2016-04-24 12:44] rr- commented on #87
I meant the network tab in the developer tools, which should show the details what's happening.

[2016-04-24 13:13] princessGasmask commented on #87
This is the network tab in fullscreen.
http://puu.sh/otTT7/19a1e472fe.png

[2016-04-24 13:27] rr- commented on #87
What does `/login` return? (You can check this by clicking on it)

[2016-04-24 13:28] princessGasmask commented on #87
http://puu.sh/otUGA/dd8b0dd3cf.png

[2016-04-24 13:37] rr- commented on #87
Are there no further details? In my browser, it looks like this:
![20160424_153225_vbt](https://cloud.githubusercontent.com/assets/1045476/14767915/6c691172-0a32-11e6-80a8-0783550bb269.png)

[2016-04-24 14:03] princessGasmask commented on #87
Which browser are you using? I can download it so there's more detail.

[2016-04-24 14:08] rr- commented on #87
It's Mozilla Firefox; Chrome should have similar capabilities.

[2016-04-24 16:31] princessGasmask commented on #87
http://puu.sh/ou4vc/476c38e604.png

[2016-05-07 21:23] rr- commented on #83
Day 21, preliminary backend done.

[2016-05-07 21:23] #83 closed

[2016-05-22 20:15] rr- commented on #85
@kotcrab regarding auto tagger - I think the 2.x API is pretty stable by now. Once 2.x gets released, you could just skim through `git log API.md` to check for any incompatible changes.

[2016-05-24 17:40] kotcrab commented on #85
@rr- great, I'll try to setup local instance next week and start working on auto tagger

[2016-06-02 21:48] rr- commented on #84
Preview of PoC for post list:

![20160602_234654_pbj](https://cloud.githubusercontent.com/assets/1045476/15762128/5c40787c-291c-11e6-9aa5-860c238d05f2.png)

[2016-06-03 19:33] kotcrab opened #89 "Tags.json missing on fresh install?"
I have successfully compiled frontend and started backend server. After opening browser I got page with top bar only and nothing else is working. I opened debug console to see `TypeError: response.body is null` in method:
[code]
I checked `data` directory and found out that `tags.json` does not exist, after creating empty file the error changed to `TypeError: tags is undefined`.

[2016-06-03 19:33] rr- commented on #89
Have you built the frontend? It won't work without it

[2016-06-03 19:36] kotcrab commented on #89
Yeah, I ran `npm run build`. That file was not created.
[code]

[2016-06-03 19:38] rr- commented on #89
Please tell me if https://github.com/rr-/szurubooru/commit/aa95afb989b4caf0fc6f5de3b07907790e84da16 works for you. The `tags.json` should be created with first edit to tag categories.

[2016-06-03 19:41] kotcrab commented on #89
Thanks, it works now. I was able to register and `tags.json` was created after adding category.

[2016-06-03 19:41] #89 closed

[2016-06-04 23:00] kotcrab opened #90 "Possibly wrong post create permission check"
I'm trying to upload image via rest API using this code (code here is not *that* important but you should see that request is fine):
[code]

This results in `AssertionError` on server:
[code]

Seems like it looks for `posts:create` in config but it doesn't exist. There is only `posts:create:anonymous` and `posts:create:identified`.

As a workaround I added `'posts:create': regular` to config and I

[2016-06-04 23:05] rr- commented on #90
Those are leftovers over what I forgot to implement. Which has reminded me to actually implement them. Thanks - I'll fix it in the morning.

[2016-06-05 19:48] kotcrab opened #91 "Expose server time in global info"
I think it would be good idea to include current server time in `/info`.

[2016-06-05 19:50] rr- commented on #91
Isn't this returned in HTTP headers?
https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.18

[2016-06-05 20:05] kotcrab commented on #91
Ow, you are right. I didn't know about this. Still it's worth considering doing it - date format would be consistent with others API methods that returns date in RFC 3339 format. Fell free to close this.

[2016-06-06 05:47] rr- commented on #90
Fixed in 508cb6e.

[2016-06-06 05:47] #90 closed

[2016-06-08 21:25] rr- commented on #84
Post view:

![20160608_232417_gun](https://cloud.githubusercontent.com/assets/1045476/15911426/29953c2e-2dd0-11e6-9ea2-825a9b625e0f.png)

Comments are to be implemented later and will be placed below the fold.

[2016-06-11 20:37] rr- commented on #84
@kotcrab I've renamed `_fields` to `fields` in the API.

[2016-06-12 12:27] rr- commented on #91
Implemented in https://github.com/rr-/szurubooru/commit/162904bfc308124d33f45c51a0e5c8c7ca038e6e

[2016-06-12 12:27] #91 closed

[2016-06-16 21:52] kotcrab opened #92 "Include more characters in default tag name regex"
Any reason for not including characters like `( ) [ ] / \ :` in tag name regex? They seems to be quite common in Danbooru tags.

This also made me wonder how should I protect against not matching tags in auto tagger. API to obtain `tag_name_regex` would be nice.

[2016-06-16 21:56] rr- commented on #92
True, things like that get compiled into frontend. I'll expose them via `/info` this weekend.

The reason for not including `:` is simple - it breaks search token parsing (e.g. `safety:sketchy`, `sort:random` etc. - it's impossible without extra queries to the DB to tell tag from named token).

As for the other characters, it requires some extra testing, esp. for `/` character that I believe will

[2016-06-16 22:10] kotcrab commented on #92
I got full list of Danbooru tags and did some checks. Most commons characters are `( )` with 54800 occurrences.
`:` 656 occurrences
`/` actually appears only 401 times. Not worth modifying router just for this if it requires a lot of work or extra checks.
`\` 11 occurrences
`[` 21 occurrences
So I think only `( )` should be added, I can make auto tagger replace others with `_`

[2016-06-16 22:15] rr- commented on #92
Superb :+1:
Anyway I'm a little busy right now refactoring the client, so this issue will need to wait till tomorrow / Saturday (not sure if I have the time to test everything).

[2016-06-17 17:43] kotcrab commented on #84
If you go to `http://szurubooru.local/tag/tag_name/delete` and press `which posts` you will be taken to `http://szurubooru.local/posts/tag_name` which just list all posts. Should probably be `http://szurubooru.local/posts/text=tag_name`.

[2016-06-17 19:26] rr- commented on #84
Fixed

[2016-06-17 19:58] kotcrab commented on #92
By the way [API.md#updating-tag](https://github.com/rr-/szurubooru/blob/master/API.md#updating-tag) should be `PUT /tag/<name>`.

[2016-06-17 20:14] rr- commented on #92
Fixed

[2016-06-17 22:19] rr- commented on #92
Today aftermatch - I still need to refactor post sidebar so that it doesn't talk to API directly. After this and a quick round of tests, I should be able to push my refactors and fix this issue.

[2016-06-18 08:58] kotcrab commented on #92
Sounds nice. I'm actually doing something similar in auto tagger. Returned JSON is wrapped in its model class and is lazy parsed when some field is needed.

I noticed weird thing about tags. I have tag that starts with `:` eg. `:3`. It doesn't have any others names, implications or suggestions. I can go to `http://szurubooru.local/tag/:3` and I see tag page but the same page is shown when I go to

[2016-06-18 09:02] rr- commented on #92
Nope, I'll investigate it. Sounds like a problem with client router.
Pushed  fix for this issue.

[2016-06-18 09:02] #92 closed

[2016-06-18 09:10] kotcrab commented on #84
Are you going to implement navigating between posts with active search query? In Szurubooru 1 you could search for something, open post and then view next post that matched search.

[2016-06-18 09:15] rr- commented on #92
Actually, it's a problem with SQL... `_` gets interpreted as "any character" because I use `ILIKE`. In fact it's possible to crash the server with query such as `____`:

    sqlalchemy.orm.exc.MultipleResultsFound: Multiple rows were found for one_or_none()

Fixing it in a sec.

[2016-06-18 09:17] rr- commented on #84
Not sure if this is necessary, wanted to postpone it till we could test it on https://yume.pl/. The current version respects safety much like other boorus do.

[2016-06-18 09:27] kotcrab commented on #84
I know that other boorus doesn't support it, It's pretty awesome feature though.

[2016-06-18 09:44] rr- commented on #84
Ok, implemented in e2eee0c

[2016-06-18 10:16] kotcrab commented on #84
Wow, that was quick. Thanks a lot.

[2016-06-19 22:17] kotcrab commented on #85
I've finished it. I also added option to pull post notes and batch uploader. You can get more details on [repository page](https://github.com/kotcrab/szurubooru-auto-tagger).

[2016-06-19 22:17] #85 closed

[2016-06-23 11:18] rr- commented on #85
@kotcrab I've added tag description and greatly relaxed rules regarding tag names.

[2016-06-23 19:40] kotcrab commented on #85
Cool, I can add extracting tag wiki page.

About tag deletion, makes sense I guess. I have one concern, what if user spends time adding aliases, writing description etc. and it gets deleted without any warning. Would be pretty annoying.

Btw, source URL is not visible on post page but I guess you haven't added it yet.

[2016-06-23 19:50] rr- commented on #85
Citizens of yume.pl decided to trash the source after all, speaking from their experience of never using it.

[2016-06-24 20:13] kotcrab commented on #85
I see, are you going to remove `source` field from post resource?

[2016-06-24 21:42] rr- commented on #85
I plan to keep it - if users decide to change their mind after deploy of 2.x, the decision will be easily reversible without need to migrate posts again.

[2016-06-29 10:58] kotcrab commented on #85
Turns out tag wikis are written in custom custom formatting language dtext and I'm not really eager to write Markdown converter for it so I won't be adding this feature.

I added batch downloader, option to create comment when bigger version of image was found and option to store source URL and use it to make updating tags on existing posts faster.

[2016-06-29 11:05] rr- commented on #85
@kotcrab OOC is there any difference between gelbooru's and danbooru's tag ecosystem?

[2016-06-29 11:31] kotcrab commented on #85
I don't know. Extending wouldn't be big problem but I wonder if using multiple engines at once is going to create inconsistencies in tags. Well that aside Gelbooru API [documentation](http://gelbooru.com/index.php?page=help&topic=dapi) is pretty much non existent.

[2016-06-29 12:08] rr- commented on #85
Looks like the ecosystems are pretty close which is pretty cool. I agree Gelbooru's API is a joke. Maybe we won't miss Gelbooru after all :+1:

[2016-07-13 10:58] rr- commented on #84
I need mana!

[2016-07-17 18:34] rr- commented on #84
Basic post editing is done, but the tag input annoys the hell out of me. I think it needs to be scraped and designed from scratch. :-1:

[2016-07-17 19:01] kotcrab commented on #84
Yep, it would be pain to use with more than few tags.

[2016-07-17 19:09] rr- commented on #84
@tehoko had the idea to add a single line input that would append to a list below. Each item would have [x] near it.

I think I like the idea for the most part, but following issues remain:

1. How to present suggestions and siblings?
2. What to do about "escaping form", where the more tags you enter, the further the "save" button is?

[2016-07-17 19:56] kotcrab commented on #84
How about doing text area where each entered tag becomes a box (could be even colored as tag category), similar to how you can enter multiple emails on Gmail:
![2016-07-17_2155](https://cloud.githubusercontent.com/assets/4594081/16902785/354b90ce-4c69-11e6-8b8a-0ad6f412d542.png)

For suggestions I'd do another section below like "More tags" with wrapping single line of tags. You could click on tag

[2016-07-17 20:17] tehoko commented on #84
Solution for "save" button moving down:

![image](https://cloud.githubusercontent.com/assets/2924029/16902843/c03446b6-4c6b-11e6-99c2-c7c7018d1503.png)

Entering the edit mode changes the topmost sidebar buttons into "save" and "discard". The current version only has "return" icon, which doesn't really say that everything gets discarded upon clicking. I believe the version suggested above fixes th

[2016-07-17 20:33] rr- commented on #84
@kotcrab what you describe is implemented in sz1:

![20160717_222711_tcj](https://cloud.githubusercontent.com/assets/1045476/16902901/a047fee0-4c6d-11e6-97f5-79ea926c4952.png)

And I'm looking for a way to improve this. Example areas for an improvement:

- Related tags disappear after entering another tag, which make relations too ephemeral
- Confirmed tags that contain typos cannot be corrected w

[2016-07-17 21:03] rr- commented on #84
BTW most probably we'll simplify upload form:

1. Arrange the upload into tabular / grid layout.
2. Restrict user input to choice of safety for each post, and manipulating the list (order, remove, add).
3. Add `default_tag` to `config.yml` (equal by default to `tagme`). This tag will be used when user hits the 'submit' button.

Any fine tuning to the posts will then be accomplished via the edit fo

[2016-08-08 15:42] rr- commented on #84
@kotcrab I changed the API a little - clients need to send `version` when updating (`PUT`) and deleting (`DELETE`) resources. This is to prevent problems with concurrent editing.

[2016-08-14 17:36] kotcrab commented on #84
@rr- Ok, I updated auto tagger, sorry for the delay.

[2016-08-14 17:43] rr- commented on #84
No worries, I'm just pinging you FYI so you don't get mad when things break

[2016-08-25 23:26] #84 closed

[2016-09-08 15:38] rr- commented on #80
Closing as 1.x is no longer supported

[2016-09-08 15:38] #80 closed

[2016-09-08 15:39] rr- commented on #87
1.x is no longer supported, closing

[2016-09-08 15:39] #87 closed

[2016-09-17 21:56] tehoko opened #93 "Tag's alias can be added repeatedly"
If a tag has an alias, it can be added endlessly to the list in edit mode.

Example: the `K-On!` tag has a `K-On` alias:

![alias01](https://cloud.githubusercontent.com/assets/2924029/18611140/422563d0-7d31-11e6-9800-3fa85929ebff.gif)

The same can be done using suggestions that have the given tag implied (here, adding multiple K-On! characters would add the `K-On!` tag multiple times).

Note that

[2016-09-17 22:32] tehoko opened #94 "Stopped mass tag starts again when searching posts"
Steps to reproduce:

1. Open post list.
2. Start mass tag with any input.
3. Stop mass tag.
4. Click `Search`.
5. Mass tag buttons appear again, and the URL now has mass tag stuff in it.

![masstag](https://cloud.githubusercontent.com/assets/2924029/18611377/2bb23a64-7d37-11e6-899d-e5843887d30a.gif)

The only way to truly exit tagging is to clear mass tag's input field and click `Start tagging`.

[2016-09-17 23:40] rr- commented on #94
This is weird and I'll look into it ASAP

[2016-09-17 23:42] rr- commented on #93
This is some seriously sloppy programming and I'll fix it once I get sober.

[2016-09-18 08:39] #94 closed

[2016-09-18 08:50] #93 closed

[2016-09-26 18:51] tehoko opened #96 "Error notification in page title"
Suggestion: Prepend the page's title with an exclamation mark when an error occurred.

For example, `szurubooru` → `! szurubooru`.

The mark would disappear when the error box is dismissed in any way.

For large uploads the user might change browser tab and not notice that there was an error (e.g. duplicate post) - a change in title might direct their attention back to the tab.

[2016-09-26 18:57] tehoko opened #97 "Unable to search for tags with colon or 2+ periods"
Searching for certain tags returns an error, and only editing the URL manually allows accessing the tag.

`>:)`
*Unknown named token: ‘>’. Available named tokens: [‘category’, ‘creation-date’,* (...)

`when_you_see_it...`
*Composite token when_you_see_it… is invalid in this context.*

[2016-09-26 19:11] tehoko opened #98 "Underscore acts as wildcard character in search"
Searching for `____` (4x `_`) will return posts tagged with a four-character tag. This works for any positive number of underscores.

Same for tag search (underscore count = tag name length) and user search (underscore count = user name length).

[2016-09-26 19:13] tehoko commented on #98
Speaking of wildcards, the `*` character is completely ignored, as if no character was in its place.

Searching for `;*)` returns `;)`.

[2016-09-26 19:51] rr- commented on #97
? full scenario please

[2016-09-26 19:59] rr- commented on #98
It's not. `*madoka*` will match `madoka` *and* `kaname_madoka` *and* `puella_magi_madoka_magica` like it's supposed to.

[2016-09-26 20:18] rr- commented on #98
I fixed this one

[2016-09-26 20:18] tehoko commented on #97
Right, that wording was less than ideal, sorry.

I meant that I couldn't find the tag `when_you_see_it...` and had to search for `when_you_see_it` (note no ellipsis), which is the former's alias. Then I added the ellipsis to the URL and could access the tag.

I didn't know I can use `*` to search with wildcards - adding `*` at the end solves the searching problem.

[2016-09-26 20:27] rr- commented on #97
Partially fixed, see comment below

Fixed, see comment below

The comment:

1. The user can now use `..` in string criteria (`user:great..dude`, `puella_magi_great..dude`). `date:yesterday..today` still works as intended.
2. The user can search for `>:)`. Only `[a-z-]+` will get treated as named token.
3. I don't want to fallback to default search for unknown named tokens to anonymous tokens. Let'

[2016-09-26 20:43] #98 closed

[2016-09-26 20:45] #96 closed

[2016-09-28 20:55] tehoko opened #99 "Disable move up / move down / delete buttons when uploading"
When upload is started, the safety and anon inputs are disabled (disabled cursor on hover), but the `^` `v` `x` buttons are still clickable. They seem to perform the action, but the outcome is not changed - e.g. clicking `x` removes the post from GUI, but it's still being uploaded.

Suggestion: Disable these buttons during upload process.

[2016-09-28 21:17] tehoko opened #100 "Some animated GIFs not labeled as animation"
In posts list, not all animated GIFs get the `animation` label in the thumb's corner.

Test images: (no animation label for these)

![27835](https://cloud.githubusercontent.com/assets/2924029/18932552/3ec0e9d2-85d1-11e6-9c07-c48cb50d22cb.gif)

![26956](https://cloud.githubusercontent.com/assets/2924029/18932590/686137e2-85d1-11e6-92f0-a06da07dde3d.gif)

[2016-09-29 10:59] #99 closed

[2016-09-29 10:59] #100 closed

[2016-09-29 17:20] tehoko commented on #97
Both possible improvements are great.

How about going with 3.ii., but apart from displaying `No data to show` also display the list of special tokens if the input contains `:`? This could solve the "I don't know if it's my input's fault" problem.

[2016-09-29 17:39] tehoko opened #101 "Allow stopping the upload"
There's no *user-friendly* way of stopping the upload, meaning one can't change the safety/anonymity *in a user-friendly way* unless the process is stopped by found duplicate post.

From GUI pov, this could be achieved by changing the current `Upload all` button's text to `Stop upload`. It could also change the style to basic text, like `Stop tagging` button in posts list.

The partially-uploaded

[2016-09-29 17:42] tehoko opened #102 ""Skip duplicates" checkbox in upload form"
Right now, any found duplicate post stops the upload process and shows an error box.

Suggestion: Next to `Upload all` button add a checkbox `Skip duplicates` that just ignores any duplicates (removes them from queue) and proceeds with the upload if it's checked. If it's not checked, the upload stops and an error appears, like in current version.

[2016-09-29 17:49] rr- commented on #97
I don't like this, it feels too magic

[2016-09-29 17:50] rr- commented on #101
(You could always close the tab)

[2016-09-29 17:54] tehoko commented on #101
Edited the original post to reflect the comment.

[2016-09-29 20:27] #102 closed

[2016-09-29 20:27] rr- commented on #101
Implemented in https://github.com/rr-/szurubooru/commit/7862fecbc990a580970aaeef9de5667da268cc9f

[2016-09-29 20:27] #101 closed

[2016-09-29 20:52] rr- commented on #97
Implemented escaping `:` in https://github.com/rr-/szurubooru/commit/977cc47966f4b9dfddf62e53d9c614593fd29f7f (it tries to be smart: it escapes `re:zero`, but doesn't escape `:D`)

Hmm. I checked things out and this requires quite boilerplate, and will reduce speed of *every* query including valid ones; do we still want this?

[2016-10-01 16:27] tehoko commented on #97
Depends what's the difference, since nobody will notice if it's taking 20 ms instead of 10 ms.

I haven't given that suggestion too much thought, though. What would the user gain if it showed that a tag doesn't exist? Would this only be useful for multi-tag queries?

[2016-10-01 16:32] rr- commented on #97
No idea, I say screw it until someone needs it

[2016-10-02 12:22] tehoko opened #103 "Relations are removed after subsequent saves"
Steps to reproduce:

1. Enter edit mode and add a relation to post.
2. Save changes.
3. Exit edit mode. Notice that the relation was properly added.
4. Enter edit mode again.
5. Press save without making any changes.

Although there are no visible changes in the interface, exiting the edit mode yet again reveals that the relation was removed. Entering edit mode for the third time shows that the in

[2016-10-02 15:33] #103 closed

[2016-10-02 18:00] tehoko opened #104 "Unable to tag post with a tag that contains an apostrophe"
The `'` character is being escaped to `&apos;` when the post changes are saved.

I tried to tag a post with `Mahou_Shoujo_Lyrical_Nanoha_A's` (the tag had existed before), and this action created a new tag, `Mahou_Shoujo_Lyrical_Nanoha_A&apos;s`, upon saving. Before saving, the tag selected from autocomplete had correct punctuation.

[2016-10-02 18:02] tehoko commented on #104
I'm also unable to search for the original tag when it's selected from autocomplete. I can get correct results when I manually change &apos;` to `'` back.

[2016-10-02 18:03] rr- commented on #104
That's a separate issue

[2016-10-02 18:05] tehoko opened #105 "Unable to search for tags with an apostrophe"
I'm unable to search for a tag that contains an `'` character when it's selected from autocomplete. The query escapes `'` to `&apos;`.

I can get correct results when I manually change `&apos;` to `'` back in the input field or in the URL.

[2016-10-02 18:05] tehoko commented on #104
Created #105.

[2016-10-02 18:11] #105 closed

[2016-10-02 18:13] rr- commented on #104
So it goes like this:

1. Post is tagged with `Nanoha's`
2. Click edit
3. Save without changes
4. The post is now tagged with `Nanoha&apos;s`

Is that correct?

[2016-10-02 18:15] tehoko commented on #104
No, this scenario works properly.

The issue appears when trying to add the `Nanoha's` tag to a post that didn't contain it.

[2016-10-02 18:19] tehoko commented on #104
Looks like the fix for #105 also solved this one. Thanks.

[2016-10-02 18:19] rr- commented on #104
Yay

[2016-10-02 18:19] #104 closed

[2016-10-08 17:54] rr- commented on #97
Closing because tehoko reacted with thumbs up emoji

[2016-10-08 17:54] #97 closed

[2016-11-05 23:14] cam-peterson opened #106 "from szurubooru.func import scores, cannot import name 'scores'"
Hello!

I was trying to get this booru running, but I have found this problem:

[code]

I was wondering if you know what caused it? Thank you

My python --version says Python 3.4.2

[2016-11-05 23:51] rr- commented on #106
No idea, works fine on my end. Is there any chance the server is missing some files?

[2016-11-06 00:32] cam-peterson commented on #106
I don't think there any missing files, i tried  deleting the repo and making a fresh clone to make sure but I still have the same problem. Here is some of the output from ./test:  https://gist.github.com/cam-peterson/a57055678ba9231b813a725e9f84e4dd

[2016-11-07 18:22] rr- commented on #106
I think it might be that Python 3.5 is more forgiving about circular dependencies, and there is one such dependency between scores and favorites. I'll try to refactor the code so that it doesn't have such dependency.

[2016-11-07 18:31] rr- commented on #106
I opted for the easy way out and pushed the `import` statements inside the functions that needed them. Please let me know if this solves the issue for you.

[2016-11-08 02:24] cam-peterson commented on #106
Thank you very much this seems to fix it!

[2016-11-08 02:24] #106 closed

[2016-11-12 11:39] h6dy opened #107 "Upload Error"
Hello author.

thank you for your works.

I got an error  when uploading audio or video files: Unhandled file type: ‘application/octet-stream’
could you tell me how to fix it ?

Details: All the required software has been installed;
             The entire installation process runed well except five errors about api when runed the test;
             The permissions for creating user are modified t

[2016-11-12 11:54] rr- commented on #107
What kind of video and audio? Only WEBM and MP4 are supported.

[2016-11-12 12:30] h6dy commented on #107
Flv and Mp3,  after reading the introduction again, now I understand.

[2016-11-12 20:27] tehoko opened #108 "Notes disappear after rating/faving a post"
If a post has notes, voting on the post (thumbs up / down) or adding it to favorites causes all notes to disappear. They're not removed though - they can be brought back by entering the edit mode or refreshing the page.

![disappearing-notes](https://cloud.githubusercontent.com/assets/2924029/20240669/8f2a3fa2-a91e-11e6-9487-5bdc5a8e204e.gif)

[2016-11-12 21:18] rr- commented on #108
I have the weirdest bug now

[2016-11-13 18:11] #108 closed

[2016-11-13 18:17] rr- commented on #107
I currently don't plan to support audio-only streams and I don't plan to support FLV videos either:

https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

Note that Flash is supported via SWF only by popular demand. Likewise, if there's enough interest in FLV or audio, I can add support for these in the future.

[2016-11-13 18:17] #107 closed

[2016-11-18 01:31] cam-peterson opened #109 "Unable to create users, Can log in as anyone, cannot upload"
Hello

Sorry to bug you. I've been troubleshooting this for a while and I can't get anywhere.

I can't make an account, it just says "Not allowed". I tried grepping the source code for that and can't find it in the code so i don't know why it happens.

But then I can log in using any username/password combination, but when i do thaht i cannot upload. I have checked the permissions in config.yaml a

[2016-11-18 09:01] rr- commented on #109
Sounds like the server isn't wired well (though "I can login as anyone" sounds confusing).

You can inspect the communication between the server and the client with developer tools in your browser, in the "network" tab - that could shed some light.

[2016-11-18 12:45] cam-peterson commented on #109
For wiring I am just using the nginx configuration from the install instructions, with my domain name in.

Looking at the developer tools when I tried to make an account it was to request URL: `https://booru.spqrchan.org/null/users`` and the response is
[code]

From google I found that some people put `error_page 405 =200 $uri;` in the nginx config but this did not make my szuru instance work: I g

[2016-11-18 12:48] rr- commented on #109
Are you sure it should be `/null/` and not `/api/`?

[2016-11-18 12:53] cam-peterson commented on #109
I guess it should be /api/, I can't work out why it is /null/ instead. I tried rebuilding the client. My config.yaml has `api_url: http://booru.spqrchan.org/api/` and I cannot find null anywhere..

[2016-11-18 12:55] rr- commented on #109
Can you test what happens if you put:

[code]

instead? (note single quotes)

(If that's the case, I'll make sure to document it)

[2016-11-18 13:02] cam-peterson commented on #109
With the single quotes (and rebuilding the client),  I am still seeing `http://booru.spqrchan.org/null/users`

[2016-11-18 13:07] rr- commented on #109
FWIW here's what my `config.yaml` looks like:

[code]

[2016-11-18 13:27] cam-peterson commented on #109
I just noticed something really weird in `.config.autogen.json`:  `{"name":"szurubooru","debug":0,"showSql":0,"transpile":1,"apiUrl":null,"baseUrl":null,"dataUrl":null,"dataDir":null,"`

[2016-11-18 13:32] cam-peterson commented on #109
I must have had a broken yaml before which created those nulls, but now the booru seems to work completely. Thank you very much for your kind help!

[2016-11-18 13:32] #109 closed

[2017-01-08 14:15] tehoko opened #110 "Upload: Duplicate file error is different for WebM and SWF"
New upload form introduced error message box appearing inside each uploadable container. I'm not sure if it was intended, but the error is reported differently for images and non-images - instead of two boxes there is only one, outside the container. The large one at the top does not appear.

JPG, PNG, GIF:

![image](https://cloud.githubusercontent.com/assets/2924029/21750329/14fa7886-d5b1-11e6-81

[2017-01-08 14:15] tehoko opened #111 "Upload: Re-adding a file blocks reordering"
Steps to reproduce:

1. Go to Upload.
2. Add file1 to the list.
3. Add file2 to the list. It's shown at the bottom of the list, with file1 at the top.
4. Try to reorder the files - it works.
5. Remove file1 from the list by clicking X.
6. Add file1 to the list again. It's shown at the bottom, with file2 at the top.
7. Try to reorder the files.

After 7., either no visible action is performed, or r

[2017-01-08 14:21] tehoko opened #112 "Edit post: Tag alias is displayed instead of its main name"
Example: Have a `question_mark` tag which has an alias `?`.

When a post has a tag `question_mark`, here's how it looks in regular post view:

![image](https://cloud.githubusercontent.com/assets/2924029/21750547/df8288ce-d5b5-11e6-9b8c-cef439dd696a.png)

However, when one enters edit mode for this post, the alias `?` is displayed instead:

![image](https://cloud.githubusercontent.com/assets/292402

[2017-01-08 14:24] tehoko opened #113 "Edit post: Bullets shown next to tag suggestions"
The bullets for regular `li` elements are shown next to tag suggestions, clipped by the box boundaries:

![image](https://cloud.githubusercontent.com/assets/2924029/21750570/5812d398-d5b6-11e6-80f1-e5ee4c5bb325.png)

[2017-01-08 14:30] tehoko opened #114 "Upload: Progressbar resets a few times for each uploaded file"
With the new multi-phase upload, the blue progressbar at the top of the page is now starting anew a few times for each processed file.

[2017-01-08 16:46] tehoko opened #115 "Upload: "Loop video" flag is forced even if unchecked"
Steps to reproduce:

1. Go to Upload.
2. Add WebM video file.
3. Uncheck "Loop video".
4. Start uploading.

The created post has "Loop video" flag enabled, even though it shouldn't. This is also logged in history.

Editing the post and unchecking the flag there works correctly.

[2017-01-08 20:00] rr- commented on #111
The upload is actually moved but DOM is not updated because of some BS

[2017-01-08 21:29] #110 closed

[2017-01-08 21:29] #111 closed

[2017-01-08 21:29] #112 closed

[2017-01-08 21:29] #113 closed

[2017-01-08 21:29] #114 closed

[2017-01-08 21:29] #115 closed

[2017-01-20 16:39] tehoko opened #116 "Unable to search for tags that contain backslash"
Searching for a tag that contains `\` anywhere in its name causes `No data to show` to appear.

[2017-01-20 17:03] rr- commented on #116
Doot doot

[2017-01-22 22:11] rr- commented on #116
Dootidoot!

[2017-01-22 22:11] #116 closed

[2017-02-02 08:28] Darksonn opened #117 "Start szurubooru fails with KeyError: 'path' and AttributeError: 'Hit' object has no attribute 'path' and elasticsearch.exceptions.RequestError"
I've installed szurubooru by following the instructions, while adapting them for debian.

I managed to start the server once, but uploading images failed with "Internal Server Error".

I then later closed the server and restarted it, and now it wont start, and it gives the following error message:

    [2017-02-02 09:19:29 +0100] [12400] [INFO] Starting gunicorn 19.6.0
    [2017-02-02 09:19:29 +01

[2017-02-02 08:36] rr- commented on #117
At a first glance looks like outdated elasticsearch package.

[code]

[2017-02-02 09:00] Darksonn commented on #117
Well we have:

    boats:~$ pip3 list | grep ela
    elasticsearch (5.1.0)
    elasticsearch-dsl (5.1.0)

And, uhh, this command: `/usr/share/elasticsearch/bin/elasticsearch --version` doesn't ever finish. It just hangs forever.

[2017-02-02 09:05] rr- commented on #117
It's certainly weird and probably the reason why the server fails to stand up. Have you tried installing the newest version from [the source](https://github.com/elastic/elasticsearch)?

Also if it proves too troublesome I can make the `elasticsearch` dependency optional (the server configured that way would be no longer able to detect similar uploads though.)

[2017-02-02 10:15] Darksonn commented on #117
I'm building it, but it appears that it's going to take a very long time. I know for a fact, that there are several duplicate images in the collection that will be uploaded, so I will need elasticsearch.

[2017-02-02 11:12] Darksonn commented on #117
Okay so I installed elasticsearch and started it. The server starts.

However uploading images still fails. I get an Internal server error, and the server prints the following:

    [2017-02-02 12:08:54] elasticsearch GET http://localhost:9200/szurubooru/image/_search?scroll=5m&size=1000 [status:404 request:0.229s]
    /home/szuru/.python/lib/python3.5/site-packages/sqlalchemy/sql/default_comparat

[2017-02-02 11:31] rr- commented on #117
Hmm can you show the image which triggers that exception? Thanks

[2017-02-02 11:35] Darksonn commented on #117
I've tried several images, and they all trigger it, but here's one: http://ryhl.xyz/179-CxTbBGAUoAE1HiP.jpg

[2017-02-02 16:38] rr- commented on #117
Can reproduce after `pip upgrade`; working on a fix

[2017-02-02 16:41] rr- commented on #117
I think this is the issue: https://github.com/ascribe/image-match/issues/57

[2017-02-02 16:53] rr- commented on #117
Since the fix is not yet available on PIP, you can use HEAD:

[code]

[2017-02-02 17:08] kotcrab commented on #117
I'm having same issue. After running above command now I'm getting different exception:

[code]

[2017-02-02 17:17] rr- commented on #117
@kotcrab have you by any chance disabled dynamic mappings in elastic search? https://www.elastic.co/guide/en/elasticsearch/reference/current/dynamic-mapping.html

[2017-02-02 17:23] kotcrab commented on #117
Ok I fixed it myself. I just ran `curl -XPUT 'localhost:9200/szurubooru'` to create index.

[2017-02-02 17:27] rr- commented on #117
@kotcrab normally the index would create itself on its own, but after I implemented reverse image search API, I made each upload request send an obligatory query to that API... and when the query tries to use index that wasn't created yet, it gets this error.

I'm fixing this right now

[2017-02-02 17:44] kotcrab commented on #117
@rr- great. On a side note I also had problems with missing Python module `cairo`. Solved with `pacman -S cairo` though not sure if I messed something up during install or it's missing from `INSTALL.md`.

[2017-02-02 17:46] rr- commented on #117
@kotcrab already requested image match to drop it https://github.com/ascribe/image-match/issues/59

[2017-02-02 18:10] Darksonn commented on #117
okay so I updated the pip thing, and am now able to upload images.
I can't edit the tags of an image though, I get this error:

    Traceback (most recent call last):
      File "/home/szuru/.python/lib/python3.5/site-packages/waitress/channel.py", line 338, in service
        task.service()
      File "/home/szuru/.python/lib/python3.5/site-packages/waitress/task.py", line 169, in service

[2017-02-02 18:21] kotcrab commented on #117
@Darksonn yea, I just checked it, same issue here. For some reason there isn't any default tag category defined. Go to `Tags`>`Tag categories` and create one.

[2017-02-02 19:29] rr- commented on #117
- Fixed error handling for elastic search
- Fixed inability to upload images without having elastic search index created
- Fixed tag editing error when no categories were created yet
- Fixed a few things related to DB sessions
- Added migration that adds default tag category if there were no other tag categories added yet
- Added ability to start the server without elastic search (though you'll st

[2017-02-03 12:39] Darksonn opened #118 "Feature request: Search in notes and other text"
A lot of the images in my szurubooru contain text. I would like to have the ability to search in the text. Text recognition for the images would also be nice, but it could be added manually with notes.

[2017-02-03 14:08] rr- commented on #118
Text recognition is too complex and won't be happening
I'll implement search in text notes soon

[2017-02-03 18:09] rr- commented on #117
Closing as the original issue seems to have been solved. Regarding using git master of image-match, which wasn't reflected in `requirements.txt` - I'm thinking of merging it into szurubooru itself (along with heavy refactoring), so maybe this dependency will be no longer needed.

[2017-02-03 18:09] #117 closed

[2017-02-04 14:59] kotcrab opened #119 "Unable to change tag category color"
1. Go to tag categories
2. Click on any color field
3. Select new color using color picker, press OK
4. Color field is not updated

Tested on Win10, latest Firefox and Chrome.

By the way, Windows color picker is horrible. It's literally [MS Paint picker](https://i.imgur.com/43y3LLJ.png). Maybe it will be better to allow direct input?

[2017-02-04 15:28] kotcrab opened #120 "URL search query is not preserved"
1. Enter some search query
2. On result list open any post. You can see that target URL still contains search query
3. On post page query is removed from URL

This makes navigating between posts with active search query feature unusable.

[2017-02-04 21:15] rr- commented on #120
Are you sure about this?
I explicitly remove the query from the URL via special history API to make links pretty (especially for clipboard), but the previous/next post links should retain that search query underneath in the HTML.

[2017-02-04 21:19] rr- commented on #119
I'm for plain text color editing, especially that the default text category comes with `default` color that's handled by `<input type=color/>` sketchily at best.

[2017-02-04 21:24] kotcrab commented on #120
Ah I see, I saw query removed and assumed that it's not working... You are right, it's working fine.

[2017-02-04 21:24] #120 closed

[2017-02-05 21:10] rr- commented on #118
Done in 0b21d98c9bb26db6b5e9aa40e8877af33ec7a390

[2017-02-05 21:16] Darksonn commented on #118
After pulling I cannot start the server.
[code]
    szuru@boats:szuru/server$ waitress-serve --port 6666 szurubooru.facade:app
    Error: Bad module 'szurubooru.facade'
    There was an exception (ImportError) importing your module.

    It had these arguments:
    1. cannot import name 'Type'

[2017-02-05 21:22] Darksonn commented on #118
I don't know if it matters, but there appear to be several files untracked by git:

[code]

[2017-02-05 21:23] rr- commented on #118
Meh, I expected this to happen when I was pushing ad842ee8a54c57463b8e28b52970f173ea1d64ea...

On Python 3.6.0:

[code]

although the `typing` module is available from 3.5.0.

`server/szurubooru/tests/db/` probably contains only `__pycache__`; all `__pycache__` can be safely removed.

[2017-02-05 21:28] Darksonn commented on #118
I'll build 3.6.0 then

[2017-02-05 21:30] rr- commented on #118
That would be hip - I could ditch ugly `# type: str` in favor of PEP 526's variable annotations
Sorry for the inconvenience :(

[2017-02-05 21:41] rr- commented on #118
Tested on `python3.5` and indeed added two small fixes, but none of them had to do with the above error:

[code]

[code]

[2017-02-05 22:26] Darksonn commented on #118
Using python 3.6.0 and after completely rebuilding the git repo, `alembic upgrade head` fails with this error:

[code]

[2017-02-05 22:27] Darksonn commented on #118
Also, I had to modify the `skimage` line in the `requirements.txt` to `scikit-image`.

[2017-02-05 22:30] rr- commented on #118
Can reproduce; fixed both

[2017-02-05 22:33] Darksonn commented on #118
It works.

[2017-02-05 22:33] #118 closed

[2017-02-05 22:35] rr- commented on #118
Thanks for the bug reports :+1:

[2017-02-05 22:36] Darksonn opened #121 "★ character in tag breaks tag list"
I created a tag with the ★ character in it. Most things still work, but the link on the taglist doesn't work, and shows the error:

    Tag ‘Mahou_Shoujo_Madokaâ\x98\x85Magica’ not found.

[2017-02-05 23:09] rr- commented on #121
Someone (I'm not yet sure who) seems to screw things up when url-decoding the URL server-side; my initial bet would be on nginx cause it screwed `PATH_INFO` up before

[2017-02-05 23:36] rr- commented on #121
Found the culprit here:

https://github.com/Pylons/waitress/blob/master/waitress/compat.py#L36

Before calling this function, the server sees `GET /tag/Madoka%E2%99%A5Magika HTTP/1.0` properly passed from nginx's `proxy_pass`. After calling this function, it becomes `/tag/Madokaâ¥Magika` rather than `/tag/Madoka♥Magika`.

Frankly the fact that it uses `latin-1` encoding rather than `UTF-8` sounds

[2017-02-05 23:47] rr- commented on #121
There is and it advocates UTF-8.
https://tools.ietf.org/html/rfc3986
https://github.com/Pylons/waitress/issues/127

[2017-02-06 06:35] rr- commented on #121
Looks like we have to do this after all, because that's what PEP 3333 WSGI ref seems to expect from the users, but I'll wait for the feedback in the linked issue

[2017-02-07 15:30] Darksonn opened #122 "Feature request: mass change safety"
We already have a mass-tagging feature, it would be natural to have a feature to change safety of lots of images at once, and it would be really useful to me.

I know there's a feature to do it on upload, which is good, but I currently have ~1300 images of varying safety all marked as safe.

[2017-02-07 15:49] rr- commented on #122
I'd need some UI mocks, @tehoko do you feel up to this?

[2017-02-07 17:04] rr- commented on #121
Fixed

[2017-02-07 17:04] #121 closed

[2017-02-07 17:11] Darksonn opened #123 "Feature request: mass delete"
Deleting a lot of posts is pretty tedious right now.

[2017-02-07 17:13] rr- commented on #123
Why would you want to do that though?

[2017-02-07 17:43] tehoko commented on #122
It would have to be:
1. incorporated into mass tag, or
2. added next to mass tag button ("mass safety"?)

I'm leaning towards 2., because with 1. mass tag would be cluttered with buttons. Also, (currently) one cannot start mass tagging without entering a tag, so going with 1. kinda breaks UX in a few ways.

---

So, let's say we introduce a Mass safety button. (I don't like the name, but have no o

[2017-02-07 18:11] Darksonn commented on #123
Someone I'm using the image board with just went "yeah, let's upload every image in my downloads folder". It's also what caused this: https://github.com/rr-/szurubooru/issues/122

[2017-02-07 18:48] rr- commented on #123
TBH, I can't think of how to create a decent GUI for this...

maybe you would be okay with a CLI script that takes post IDs?

[2017-02-07 18:49] Darksonn commented on #123
It would be kinda tedious to select them with a CLI script, but it's certainly better than the current situation.

[2017-02-07 18:53] Darksonn commented on #121
This is not fixed. The tag の doesn't work.

[2017-02-07 19:32] rr- commented on #119
![20170207_203143_uac](https://cloud.githubusercontent.com/assets/1045476/22707864/74ee9f44-ed74-11e6-8fc9-510b50a37e0c.png)

[2017-02-07 19:39] kotcrab commented on #119
@rr- looks neat 👍

[2017-02-07 20:35] rr- commented on #119
Pushed~

[2017-02-07 20:35] #119 closed

[2017-02-07 21:12] rr- commented on #123
@Darksonn I think you could efficiently select the posts by

1. Opening the data directory thumbnails in your favorite graphical file manager (In case of a headless server you could SSHFS into it)
2. Examine the post thumbnails
3. Select the relevant files
4. Copy their paths
5. Fish IDs from paths with `sed` or similar
6. Paste it as arguments for the script

Here's the script itself (needs `pip

[2017-02-07 21:33] Darksonn commented on #123
This fails:

    ./delet-this --api-url https://--snip--/ --user alice 2038
    ERROR:root:2038: error (Expecting value: line 1 column 1 (char 0))

Though wouldn't a reasonable gui be a button like the mass tag button which then allows you to select images and then a button with "delete all"?

[2017-02-07 21:39] rr- commented on #123
(Are you using the `/api` URL or just the main site?)

Regarding deleting via GUI: what about pagination?

0. Page size = 10
1. Mark posts 1, 2, 3, 4
2. Hit delete
3. Posts 1, 2, 3, 4 disappear and get deleted; 5, 6, 7, 8, 9 and 10 are still present
4. Request next page
5. Rather than seeing posts 11 to 20, the server returns posts 15 to 24, and you never get to see posts 11, 12, 13 and 14. This i

[2017-02-07 21:47] Darksonn commented on #123
I think the underlying problem in why this is hard is that the server takes a page number and returns some number of images.

If, instead of the request being "give me the images on page 2", the request would be "give me the images starting from post 11", this problem seems rather easy to solve.

[2017-02-07 21:50] Darksonn commented on #123
Also yeah, the script not working was my fault.

[2017-02-07 22:09] Darksonn commented on #123
Also this currently being an issue implies endless pagination is probably currently broken: what happens if someone deletes an image I've currently loaded on my endless paginated page?

[2017-02-07 22:26] rr- commented on #123
This isn't going to work because of `sort:*`; probably could be done with some subselects but the queries would work very slowly.

That's true, TBH, the images on our installation are deleted once in a blue moon, so we never cared about that thus far.

[2017-02-07 22:27] rr- commented on #122
Thanks, I'll come up with an example implementation somewhere this week (prolly near weekend)

[2017-02-08 19:32] Darksonn commented on #123
How did you engineer sorting to work well with paginated requests?

While deletions are rare, what about new uploads? They should break it too.

[2017-02-08 19:50] rr- commented on #123
Yes, it breaks on new uploads too (so does gelbooru and danbooru BTW). Personally I think it's a very minor issue given the upload pace at our installation and would like to avoid over-engineering this just to address this specific issue.

Query for `sort:comment-count` is pretty straightforward:

[code]

(`LIMIT` and `OFFSET` are obviously applied after `ORDER BY`)

I didn't denormalize the table

[2017-02-08 20:15] Darksonn commented on #123
Querying an interval of posts or a page seems like two different methods of querying posts, where one is a strictly less powerful version of the other with a more unpredictable api. I see you're controlling what pages are returned from the query with `OFFSET`, which takes the index of the first post, not the page number, which means the page number is just another indirection on top of accessing t

[2017-02-08 20:32] rr- commented on #123
I don't understand this sentence? Earlier I meant switching to post ID based paging rather than row number based paging will be difficult, since that's what I thought you were suggesting. The client knowing how to precisely offset the collection (e.g. use indexes rather than page numbers) won't help with desync coming from upstream changes.

I can easily change the API to use post indexes rather t

[2017-02-08 20:44] Darksonn commented on #123
Uh, well I don't really care with row index vs post ID, since post ID can be turned into row based with O(log n) time after sorting, which is instant compared to actually sorting the list. I don't know how postgresql does binary search though.

Regardless: Row numbers solve the gui problem almost as well as post IDs, you just need to update the next page links when you do a deletion.

However it d

[2017-02-08 21:06] Darksonn commented on #123
I'm sorry for being harsh, but I was getting frustrated from what turns out to be a misunderstanding.

[2017-02-08 21:56] rr- commented on #123
@Darksonn I'll replace `page` and `pageSize` API parameters for paged collections with just `index` and `limit` then; pinging @kotcrab for knowledge.
I'll try to do finish the changes by Friday night.

[2017-02-08 23:26] rr- commented on #123
1. Every place in the site that features paging is about results from paged API collection
2. Every API collection stores results in `results` field
3. Every API collection has its model in the client code
4. Every such model derives from `AbstractList` interface
5. `AbstractList` knows when an element from it is removed

Basing on this, in the endless and manual pager code, I'm going to bind to i

[2017-02-09 21:42] rr- commented on #123
Done, I wonder how many bugs I have introduced:

fdad08e176b52f1b47930a5e9b22116c70c542a8
eda6d6d02a4e09a61b05b5ad1b06f4594e15b602

[2017-02-10 07:42] Darksonn commented on #123
It seems to work.

[2017-02-11 21:05] rr- commented on #122
Done:

- 0e4e9944319bb089c9d9ac67bfd8dd9f2c7c1986: client: rename 'mass tag' to 'bulk edit tags'
- 0dc7a4058e8e00b1dd878343f89b8c7a10cfcdaf: client/posts: refactor bulk tag editor
- 1caf76b1b2e2aaef507b1936a2c5a66c2df140f5: client/posts: add bulk safety editing (#122)

[2017-02-16 22:51] #122 closed

[2017-02-19 11:21] tehoko opened #125 "Mass tag + endless scroll: First page is loaded twice, then nothing"
When starting mass tagging, the first page is loaded twice, and there is no way to load following pages.

This is independent of viewport size and number of posts per page. The issue only appears when endless scroll is enabled.

![image](https://cloud.githubusercontent.com/assets/2924029/23101852/ba61bdae-f69d-11e6-95a6-926dc7336927.png)

[2017-02-19 11:21] tehoko opened #126 "Post list: Endless scroll not always triggering"
Endless scroll doesn't always trigger for some viewport size / posts per page setting combinations.

It seems that the next page doesn't appear if there's **too much** empty space below current page:

![image](https://cloud.githubusercontent.com/assets/2924029/23101782/ffb1d4b8-f69b-11e6-9377-4215b406b35d.png)

If I resize the window to accomodate just for the next page, it loads it properly, and

[2017-02-19 13:24] #125 closed

[2017-02-19 13:24] #126 closed

[2017-03-03 15:49] AlexanderLJ opened #127 "When downloading URLs, the default urllib user-agent might cause problems."
In my case I had to add this line
[code]

to `szurubooru/server/szurubooru/func/net.py`

In order to be able to download images posted to Discord, perhaps it's an idea to let the user set an custom user-agent in the config to not run into these kind of problems where the host refuses certain user-agents?

[2017-03-03 16:27] #127 closed

[2017-03-12 03:52] seanakabry opened #128 "Unable to upload a file which was previously uploaded, then deleted"
When I try to upload an image which was previously uploaded and deleted, I get:

and

where `#` is the number of the original post.

I've tried:
- checking that the post was actually deleted from the `post` table in the database (it was); and
- deleting the image and thumbnail from the filesystem (which were still there),

but to no avail.

A savvier friend has helped me lock down the `user` table

[2017-03-12 08:22] rr- commented on #128
Hmm maybe it's cached in elasticsearch? Investigating

[2017-03-12 08:35] rr- commented on #128
Hmm, I can't reproduce the issue and I am able to reupload the same file after deleting it first without problems.

Can you show me the way you locked down the `user` table?

The correct way to restrict creating new user registration is to configure the booru by putting in the `config.yml` file a stub like this:

[code]

and then recompiling the front-end and restarting the server.

[2017-03-12 11:14] seanakabry commented on #128
User registrations were locked at nginx level (`POST` to `/api/users`), but the problem seems to persist even when this is removed.

From the logs, when I try to re-upload an image which was previously uploaded and then deleted:

Software versions:

* Build 2.2-64-g49feb93 - szuru build
* psql (PostgreSQL) 9.5.6
* nodejs -v v7.7.1
* Python 3.5.2

Thanks for looking into this, and your fast reply.

[2017-03-12 11:45] rr- commented on #128
Something's up with elasticsearch - is it up?

[2017-03-12 12:16] seanakabry commented on #128
Yep, elasticsearch is definitely running. This is what I see:

<img width="712" alt="screen shot 2017-03-12 at 13 04 59" src="https://cloud.githubusercontent.com/assets/6645292/23831642/d6a3af3a-0779-11e7-8611-804141e8354e.png">

[2017-03-12 17:36] rr- commented on #128
I've pushed https://github.com/rr-/szurubooru/commit/7044d2aaee5733a9d9b0f242ee98e8d4a3750264 that ignores elasticsearch results that refer to deleted posts.

Deleted posts should get removed from ES to avoid exactly this issue, and [this is the code](
https://github.com/rr-/szurubooru/blob/master/server/szurubooru/func/posts.py#L376-L380) that takes care of it:

[code]

I have no idea why they se

[2017-03-13 14:38] seanakabry commented on #128
Thanks, that did it!

I'm not sure if this is related, but we noticed what appears to be a bug after starting with a fresh database and config in the latest version of Chrome on OSX (56.0.2924.87, 64-bit), where thumbnails don't appear on the upload page:

<img width="730" alt="screen shot 2017-03-13 at 15 14 54" src="https://cloud.githubusercontent.com/assets/6645292/23859007/66e93fa6-0856-11e7-9

[2017-03-13 14:55] rr- commented on #128
This is known behavior and there's no practical way to have the image appear in the upload form.

The site pasted in the upload form checks for `Referer:` HTTP header, which the browser sets to the address of the booru. This behavior cannot be overridden. The target site doesn't like that URL and probably shows something like "no hotlinking!" or redirects the request to their main page - in both c

[2017-03-13 14:58] #128 closed

[2017-03-29 21:17] seanakabry commented on #121
Are there any other factors which might cause this?

I was experiencing this problem on two szurubooru installations on seemingly identical VPSs. Adding the UTF-8 charset to nginx's vhost config fixed this problem on one installation, but not the other. I can't think of any difference between the installations besides the content in their databases:

* Python 3.5.2
* gunicorn (version 19.7.0)
* ng

[2017-03-29 21:31] seanakabry opened #129 "Feature request: Disable content safety ratings / Hide content safety UI elements"
Because content safety ratings are so prominent in the UI, I think it would be useful for boorus intended only for SFW content to have the option of switching safety ratings off in config.yaml.

(I'll take no offence is this isn't taken on and the issue is closed.)

[2017-03-29 21:35] rr- commented on #129
Hmm, I'll add it but it's nontrivial how to treat API requests.

I have no idea regarding the UTF-8 problem though

[2017-03-29 21:39] rr- commented on #129
I guess I won't be making changes to API. Rationale: if the users decide to turn on content safety ratings after all, and someone was purposefully uploading unsafe content through API rather than the site, the users will have less work to do with readjusting the safety for existing posts.

[2017-03-29 21:42] seanakabry commented on #129
Thank you!

And thank you anyway re: the UTF-8 issue. I'll comment again on #121 if I find out what's happening.

[2017-03-30 04:42] seanakabry commented on #121
There was a difference in the nginx vhost configs I didn't catch. For the VPS on which tags were breaking, I found:

[code]

and changed it to:

[code]

which fixed it.

[2017-03-30 18:44] rr- commented on #129
Do you wish to remove the safety from upload form and posts sidebar as well?

[2017-03-31 22:17] rr- commented on #129
I've taken the liberty to guess and removed the safety from upload form and posts sidebar in 77bf3bdc3c0c1b9e5746e0f3f63281360c3e5a03.

To disable safety ratings, please set `enable_safety` to `false` in `config.yaml`.

[2017-03-31 22:17] #129 closed

[2017-04-01 10:03] seanakabry commented on #129
Thank you for implementing this so quickly, and sorry for my slow reply.

[2017-04-01 10:08] seanakabry commented on #129
This doesn't bother me personally, but the content safety radio buttons still remain in the 'Basic info' when editing an individual post. Would it make sense to hide this also?

[2017-05-01 17:47] tyxieblub opened #130 "Internal server error when no data"
There is actually an error that is raised on a fresh install with no data. It is due to the assert in _get_disk_usage():
Since the value is initialized to 0, the assert is meant to fail when data_dir is empty.

[code]
Is a there a reason for having an assert here instead of a simple `if` like this?:

[code]

[2017-05-01 18:27] rr- commented on #130
Thanks for the report.
I believe that `assert` was introduce to silence mypy about cast of `Optional[int]` to `int`.
I've changed it to a more valid assertion in a1b762c65fe5bc309bbbec8be2873a660e905a62.

[2017-05-01 18:57] tyxieblub commented on #130
I just tested it in a new instance and it works fine.
Thanks for the quick fix!

[2017-05-01 18:57] #130 closed

[2017-07-22 22:29] DonaldTsang opened #131 "Detailed API guides on how the clients process JSON"
The Hydrus Network would like to use the Szurubooru web client for its own database.
It would be great if there is a detailed description of how the web client process JSON,
so that the Hydrus database can create a similar JSON API to use the same web client.
https://hydrusnetwork.github.io/hydrus/

[2017-07-25 11:13] rr- commented on #131
I don't understand what's being asked. The API used by the frontend is described here: https://github.com/rr-/szurubooru/blob/master/API.md

Also if you're planning on using verbatim szurubooru's code, you need to relicense Hydrus to GPL.

[2017-07-25 21:54] DonaldTsang commented on #131
Assuming Szurubooru directly do client-server communication through the JSON API...
The Hydrus server (using WTFPL, GPLv3 compatible) will need to adapt to have a compatible API with Szurubooru web client, while being separate codebases.

[2017-08-01 07:23] rr- commented on #131
Sorry, I didn't know it. I vaguely remembered that GPL recommends against using it and I unconsciously just assumed they must be incompatible.

Anyway, the frontend communicates using only the API described in the document above and thus I'm closing this issue. The only undocumented exception, as far as I remember, is how the page that shows a specific post retrieves the ID of the next post and th

[2017-08-01 07:23] #131 closed

[2017-08-12 23:21] mserajnik opened #134 "Certain actions require manual browser refresh"
This might not be a bug and instead working as intended, but it is quite annoying.

Example: after adding a new tag category, you can't apply it to a tag before refreshing the window (it simply isn't there in the select box).

Another example: after choosing a tag category for a tag it won't show the tag category's color without refreshing the window.

I understand that this is a little bit more c

[2017-08-12 23:45] mserajnik commented on #134
Okay, this is most likely some client-side caching issue, because when I open the dev console in Chrome, I can actually see it fetching the updated tags.json and everything works fine (I have caching disabled when the console is open).

Any way to circumvent this issue other than by setting `Cache-Control: no-cache`?

<img width="1438" alt="updated_tags" src="https://user-images.githubusercontent.

[2017-08-13 00:43] mserajnik opened #135 "Feature request: permission setting for featured posts viewing and data obfuscation"
We currently already have the option to prevent users from seeing any posts by setting `posts:list` and `posts:view` (and possibly some other settings as well – these two are the only ones set to `anonymous` by default though) to a higher permission level than the users's.

It would be nice if this would also be possible for the featured posts so we can completely block out users from seeing any p

[2017-08-18 20:03] rr- commented on #134
`tags.json` gets cached as per nginx rules for GET requests for plain text files.
It might make sense to configure nginx so that it always invalidates the cache.

[2017-08-18 20:19] rr- commented on #135
I've considered having the file names consist of unique non-discoverable numbers earlier, but eventually I dropped that idea, although I don't remember the reason why. I might revisit that idea but this time I'd keep the post IDs like this: `2151_f8f19a09.jpg`, so that users can still get to the post page when given its permalink by someone "inside".

Regarding `tags.json` and `tag-categories.json

[2017-08-18 21:59] mserajnik commented on #134
Thanks for the information, this makes sense.

[2017-08-18 21:59] #134 closed

[2017-08-18 22:20] mserajnik commented on #135
Thank you for your input, I've tried coming up with something myself: https://github.com/mserajnik/szurubooru/commit/236818f2aa2d8cc39e4a690a4b84bdbdbdca37a8

I didn't know about `tag-categories.json` until now, so this would just work for `tags.json` (and it checks all the `tag_categories` permissions too since I wrongly assumed these are served via `tags.json` as well).

It seems to work, e.g.,

[2017-08-19 00:01] rr- commented on #135
(I'm not sure if there's even such a thing like `tag-categories.json` - I was only speaking from my memory, maybe they're stored in `tags.json`)

Yep, IIRC that's the case.
I think the reason I wanted to avoid having custom filenames was to avoid querying the DB to get the thumbnail URLs... or something like that... but I can't think of any place where it actually could save anything.

This is wha

[2017-08-19 00:05] rr- commented on #135
Aha, `tags.json` is also used by the client to make in-memory auto completion rather than querying the server after each key press, so whatever replacement I come up with, it would be preferable if it stayed within the same order of magnitude in terms of performance :)

[2017-08-23 13:48] mserajnik commented on #135
I'll have to think how to efficiently implement tags.json replacement and this will come second.

Cool, looking forward to it. I will be on vacation starting this Saturday so I won't be able to provide any feedback until I get back (around September 10).

How about using [IndexedDB](https://developer.mozilla.org/de/docs/IndexedDB) instead of a file? I don't think there would be any perceivable dif

[2017-08-24 05:57] rr- commented on #135
Let's split this into multiple issues so I can track the work easier.

[2017-08-24 05:57] rr- opened #136 "Make post links undiscoverable"
Rather than `223.jpg` store the posts for example like this: `223_12f48b12.jpg` so that the users cannot arrive at the files through brute force.

The same goes to post thumbnails.

#135

[2017-08-24 05:59] rr- opened #137 "Add permission for viewing featured posts"
Featured posts currently can be viewed by random strangers at all times.
To achieve feature parity with the rest of permissions, this should be put behind its own permission too.

#135

[2017-08-24 06:03] rr- opened #138 "Get rid of tags.json"
`tags.json`, while greatly boosts autocomplete, can contain tag names that the users of an instance do not necessarily want to share with the rest of the world.

Any encryption or obfuscation won't protect against it (since the webclient needs to decrypt it without any passwords at some point, which means a determined attacker will be able to do so as well) so it needs to go away.

This will requi

[2017-08-24 06:06] rr- commented on #138
Someone suggested this: https://github.com/localForage/localForage

This will still need to query the tags database with many requests.

I am thinking of holding all the tags on the server in memory or in elasticsearch instead.

[2017-08-24 06:07] rr- commented on #135
gt

[2017-08-24 06:07] #135 closed

[2017-08-24 15:17] rr- commented on #136
Implemented in 4afece8d50ccfa7dde6295bd6c2046eaa6334416

[2017-08-24 15:17] #136 closed

[2017-08-24 15:17] rr- commented on #137
Implemented in 674d6c35d7eb52c7504cfd80cf7b1c203e543bde

[2017-08-24 15:17] #137 closed

[2017-08-26 15:16] KarelWintersky opened #139 "Installing Failure"
I'm trying install szurubooru inside docker.

BASE image: base/archlinux

Installation failed at step 'systemctl start postgresql'

[code]

Any hints?
What about **correct** dockerfile?

[2017-08-26 15:39] rr- commented on #139
Looks like you're trying to put all the services behind a single docker instance. This makes no sense. More on that: https://stackoverflow.com/a/39169889

The installation guidelines describe the process how to set up szurubooru *on a vanilla arch linux*; if you're planning to use docker, the set up will be different. Basically you should use separate docker instances for each dependency (postgres

[2017-08-26 15:39] #139 closed

[2017-08-26 15:53] KarelWintersky commented on #139
My host system is gentoo.

I **must** use separate docker processes for each dependency or can implement all in one container?

[2017-08-26 15:54] KarelWintersky commented on #139
inside docker i have _vanilla_ arch linux :D

[2017-08-26 15:57] KarelWintersky commented on #139
Multiply containers for each dependency is a good idea for production server. And is NOT a good idea for testing.

[2017-08-26 16:36] rr- commented on #139
You won't be able to emulate certain features in docker and the error you are getting is an example of that.
The installation guidelines are just an example, I don't see why you couldn't install the same software in gentoo.

[2017-08-26 16:44] KarelWintersky commented on #139
My sys/admin skills is not too high. May be you can deploy demo version of your engine?

[2017-08-26 16:44] rr- commented on #139
No, I do not have the time to do that.

[2017-10-01 19:57] rr- commented on #138
Done - `tags.json` is a history. Fortunately I didn't need to overengineer the backend, the performance stayed acceptable. @mserajnik

[2017-10-01 19:57] #138 closed

[2017-10-18 20:01] HeikoTietze opened #142 "How to get more feedback than just thumbs up/down"
I want to present images and ask people on a couple of scales how they like it. Something like "How well does this image fit into the system?" 1=not at all..5=perfect; "How easy can this image be modified?" 1..5 etc. Is that possible out of the box?

[2017-10-18 20:05] rr- commented on #142
Not really, you can get such feedback only through comments under the images. Users may vote for comments in similar fashion, which should reduce comment redundancy/duplication somewhat.

[2017-10-22 14:23] #142 closed

[2017-10-22 16:59] HeikoTietze commented on #142
Thanks for your feedback, will consider your solution. Sorry for late reply.

[2017-12-15 18:08] mserajnik opened #144 "Automatic resizing for featured posts"
It seems like the automatic resizing isn't working for featured posts. All elements with class `resize-listener` currently just get the original size of the image assigned. This causes the image to be displayed in full size regardless of the window size. No JS errors in the console.

<img width="729" alt="featured_post_resizing" src="https://user-images.githubusercontent.com/28833155/34054347-ccfb

[2017-12-15 18:19] mserajnik commented on #144
Okay, I noticed it just uses what fit mode is selected in post views.

I think it would still be better to just have it use the "both" mode on the frontpage since the user can just open the post view via the link below the featured post if he wants to view it in full size. I can create a PR for that if you want me to.

[2017-12-15 18:21] rr- commented on #144
Please send a PR.

[2017-12-15 19:11] #144 closed

[2017-12-18 08:18] DonaldTsang opened #147 "IQDB (image hash) support"
Something like https://www.iqdb.org/
The IRC is irc:irc.rizon.net/iqdb

[2017-12-18 08:38] rr- commented on #147
[Already implemented](https://github.com/rr-/szurubooru/blob/master/API.md#reverse-image-search)

Not to mention link to IQDB search in the sidebar

[2017-12-18 08:38] #147 closed

[2017-12-18 08:41] DonaldTsang opened #148 "File hash searching"
Able to search files using `hash:` with these types
* MD5 (128 bits)
* SHA1 (160 bits)
* SHA256 (256 bits)

[2017-12-18 08:42] rr- commented on #148
Why?

[2017-12-18 08:45] DonaldTsang commented on #148
Those features exists in many boorus like danbooru, gelbooru and sanakau,
so that you can find the carbon-copy of a file.
also, it can prevent file duplicates.

[2017-12-18 08:49] rr- commented on #148
You can't upload duplicates either way, the server already checks for it during file upload.
(It also performs reverse search for you in the frontend so even if the files are only similar, it presents you with choice whether to upload the image or not.)

SHA1 checksums are already implemented via `content-checksum` token in post search.
https://github.com/rr-/szurubooru/blob/master/API.md#listing-

[2017-12-18 08:51] DonaldTsang commented on #148
I would say cross-compatibility with Gelbooru, which uses MD5,
and by extension, many other *boorus uses MD5 as a standard.
Danbooru and Sankaku will accept SHA1 though.

[2017-12-18 08:52] rr- commented on #148
OK

[2017-12-18 08:55] DonaldTsang commented on #148
For further reference: https://ibsearch.xxx/

[2017-12-22 01:32] mserajnik opened #149 "Proposal: use CSS-based resizing"
The current JavaScript-based resizing has some issues, especially on mobile/iOS devices (see #133).

There are also sporadic hiccups in desktop browsers where it calculates the width or height a few pixels off (mostly when resizing the viewport) resulting in imaginary lines drawn between the elements not aligning and the view looking off.

Therefore, I'd like to propose replacing the JS-based solu

[2017-12-22 14:08] rr- commented on #149
OK sounds good

[2017-12-22 14:23] rr- commented on #149
Just remember about the 'upscale small posts' setting in user settings

[2017-12-22 19:53] mserajnik commented on #149
Thanks for reminding me – I'll look into that in the coming days to see how this currently behaves and how I can replicate it for the new resizing.

[2018-01-20 16:41] Granddao opened #150 "Getting "Error connecting to elastic search" when trying to upload anything"
Hello,

I set up szuru on my Debian 8 box with everything from postgresql to elasticsearch. I can verify my elastic search is running and I here a sample response.

Everything is up and running. I run the api server using gunicorn. Here's my config.yml

Still don't know why it can't connect to elasticsearch...

[2018-01-20 17:15] mserajnik commented on #150
Hmm, I‘m also running it on Debian without issues.

I‘m not currently at home so I can‘t look into it further, but if you want you can take a look at my installation script to see if that basically matches your setup: https://scripts.mserajnik.at/stash/szurubooru/install.debian

It‘s missing some last steps like nginx configuration and gunicorn/supervisor installation though which I always do manu

[2018-01-21 03:51] Granddao commented on #150
@mserajnik Yep, I basically did the same thing and only things are different is szuru is run from my home directory and I am running elasticsearch v. 6.1.2 also I am missing dirmngr, not sure what that do?

[2018-01-21 18:58] mserajnik commented on #150
@Granddao It's been a while since I've written that script, but I think I needed dirmngr for running `wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -` because otherwise I'd get the error `gpg: keyserver receive failed: No dirmngr`. Not 100% sure about that, I'm not a sysadmin expert by any stretch. ^^

Here's my whole installation process that describes how to in

[2018-01-21 19:06] mserajnik commented on #150
And here's my `config.yaml`:

[code]

[2018-01-22 07:44] rr- commented on #150
Please try adding `action.auto_create_index: true` at the end of `/etc/elasticsearch/elasticsearch.yml`. That's the only thing that comes to my mind.

[2018-01-22 14:20] Granddao commented on #150
Hey thanks for all the help, I will try that rr- and report back. And thanks mserajnik for that script I am thinking of just redoing install. Will come in handy there.

[2018-01-29 01:25] anoduck opened #151 "Required file ‘content’ is missing."
Not been the easiest setup, had to test several different configurations until something worked. It was difficult to discern from the documentation whether values for api_url, base_url, and data_url should be encapsulated within solitary quotation (paraphrasing) marks or not.
In other words, whether to use:` 'solitary quotation marks' ` or ` no marks `?

Whether this is related or not. I keep gett

[2018-01-29 06:07] anoduck commented on #151
When I changed the configuration of the urls variables to be encapsulated in single parenthesis, I received a connection terminated response.

[2018-01-29 07:44] anoduck commented on #151
When I changed to values of my configuration to:
[code]
I recieve a different error that complains about CORS:
[code]
I will continue to fornicate with my variables in the configuration, to see if I can find a correct configuration.

[2018-02-03 16:05] #150 closed

[2018-02-05 08:00] TehTotalPwnage opened #152 "Passwords Containing ':' Cause a Malformed Authentication Header"
I ran into this issue when setting up my own installation of szurubooru. I use KeePassX (a password manager) to generate all my passwords, so when one of my passwords contained a ':' character, the installation proceeded to say: `Basic authentication header value are not properly formed.`

The specific error that came up was this: `ValueError: too many values to unpack`

I proceeded to pull my hai

[2018-02-06 11:18] anoduck commented on #151
I took a few days off the project to work on something else. When I turned my attention back to the project, the bug had disappeared.

[2018-02-06 11:18] #151 closed

[2018-02-10 13:04] rr- commented on #152
Thanks for the report. The issue has been fixed in a1fbeb91a0984f5daf477a8813dc03979d4ae136 .
User names are not affected as long as you don't change the default user name mask, `^[a-zA-Z0-9_-]{1,32}$`, which does not allow colons.

[2018-02-10 13:05] #152 closed

[2018-02-13 08:15] TehTotalPwnage opened #153 ""Parameter ‘tags’ must be a list of string values" when copying tags from existing post"
I uploaded two versions of the same picture onto my personal booru setup and the uploader warned me about the two images having a very high similarity. I opted to add a relation between the two images and to copy the tags from the old image to the new one, but when pressing upload, the uploader states `One of the posts needs your attention; click “resume upload” when you’re ready.` with the error

[2018-03-09 03:44] joshuaavalon opened #162 "Feature request: Album like grouping"
A feature that allows grouping a set of images would be nice. A set of images that have order to view. It would be nice. You can use tag to this. But you not order the images or give it a title.

[2018-03-09 06:20] ReAnzu commented on #153
It looks like the issue was in the client sending all of the tag data, when the API expected only a list of tag names.

[2018-03-09 06:52] rr- commented on #162
Post relationships achieve that goal to a certain degree.

[2018-03-09 06:54] rr- commented on #153
Fix merged in HEAD. Thanks

[2018-03-09 06:54] #153 closed

[2018-03-09 07:07] joshuaavalon commented on #162
@rr- Post relationships is current state is a bit useless in my opinion. If you want to make a 50 post album, you need to add the relationships individually (49 times). It would be easier if I create dedicated tag instead.

Using dedicated tag is a work around but you cannot maintain the order or give it a title.

[2018-03-09 07:08] rr- commented on #162
Yeah, that's why I added "to a certain degree" :)

[2018-03-09 07:10] rr- commented on #162
(technical discussion follows)

@ReAnzu  maybe your idea of associating multiple files with a single post would work here?
I'd rather avoid creating a new DB table `post_groups` since that would greatly complicate post listing.

[2018-03-09 07:40] joshuaavalon commented on #162
I don't think you should treat post in a album different from normal post. Let the album to have all the tags will be a mess. The user can find the post by tag and discover to the album anyway.

I think a album should only contain title, description and post with order. Searching album for title only should be enough. While integrating all into one search will be great, I think it should be on a s

[2018-03-09 07:41] mserajnik commented on #162
Just a quick idea from my side since this is also something I‘d like to see:

The way hydrus does it is it allows you to sort by namespace (= tag categories). You could for example sort by creator-series-title-page (in that order). Depending on the DB structure, this could be a very heavy query though, so maybe just sorting by a single tag category would suffice (because you coul still add a tag l

[2018-03-09 12:52] ReAnzu commented on #162
I think this sounds a lot like the Danbooru concept of pools (http://testbooru.donmai.us/pools, http://testbooru.donmai.us/pools/5). Which, in the most basic implementation would involve atleast two more tables separate from the post tables, along with a new view, a new api endpoint, and some modifications to existing views/controls.

[code]

- I imagine an additional desired feature would be a ma

[2018-03-09 13:07] mserajnik commented on #162
@ReAnzu:

In regards to your questions sorting via tag categories:

- No, the post doesn't need to have a tag with the category that is used for sorting. If it doesn't it just gets moved to the end of the result (you could just sort such posts by their ID or something).
- If it was strictly sorting by tag categories, I'd maybe do it via a separate select box in the style of [chosen](https://harves

[2018-03-10 16:54] rr- commented on #162
I like @ReAnzu 's ideas save for pool auto suggestions. I think the UI for tag suggestions is a failure, so I'd avoid copying it in another part of the application.

Getting navigation within an album right would be tricky since there's already ❬ and ❭ used for navigation between posts.

[2018-03-10 17:31] mserajnik commented on #162
On the topic of auto suggestions:

I think auto suggestions are not necessary for the intended use cases. If I understand the proposal correctly, the main benefit of having albums is being to able to group together posts while also arranging these in a specific order inside the album.

To me, that sounds like a nice way to group pages (= posts) of a manga (or any other series of images that belong

[2018-03-10 18:42] ReAnzu commented on #162
I see the point about auto suggesting. Pools/Albums really are more of a personal user thing so it doesn't make sense to suggest adding an image to a pool. I think when I wrote about auto suggesting albums I wasn't particularly clear, looking back at the comment I think it was the idea that just like when you start typing tags, an ajax call will suggest tags matching a like query of what you've ty

[2018-03-10 18:57] rr- commented on #162
No, users have their HDDs for just that.

Everyone should have permission to every album. If someone can't play nice they deserve to get banned anyway.

`szurubooru` used to have much more complex permission system where one could edit only their own posts, and site administrators could pretend there is no NSFW content on the site through specifying who gets to see NSFW posts. It was bloatware: it

[2018-03-11 02:12] ReAnzu commented on #162
Ok, so thinking of this as a structure, and keeping it basic.

- Albums consist of posts, and post entries in an album have a defined order, stored on the linking.
- Albums do not have their own comments, tags or relations. However they inherit all the tags, comments and relations from their members.
- Album Score is a sum of the scores of it's posts.

So, this way albums are really just custom or

[2018-03-11 02:16] ReAnzu commented on #162
In regards to the multiple images per post, I'm really starting to lean away from that. It does seem like the scope of the changes required would outweigh the usefulness of the feature.

I think my biggest pain point is I have some large files that I load and I'd prefer to have a resized default smaller, resized image, with the option to load the large image if I need to. But that is a different f

[2018-04-13 06:43] hibiyasleep opened #165 "i18n?"
does this project have a plan to add translation as feature? If so, I can help on some languages.

[2018-04-13 07:13] rr- commented on #165
Not at the moment, but I'm open to pull requests. Changes would need to support internationalization on both backend and frontend side.

[2018-05-02 11:58] mserajnik commented on #149
Merging and closing #164 didn't close this one as well for some reason even though I've used an [issue closing keyword](https://help.github.com/articles/closing-issues-using-keywords/).

Therefore: closed.

[2018-05-02 11:58] #149 closed

[2018-06-06 07:37] DonaldTsang opened #167 "MVC rewrite status"
Has Szurubooru been rewritten in a new MVC architecture, or is it still the same as 2017?

[2018-06-06 07:46] DonaldTsang commented on #167
Current Booru ecosystem report:
1. Android clients:
    - AnimeBoxes (Android/iOS freeware) forum.animebox.es
    - BooruNav (proprietary Android software) https://discord.gg/4Sb5YrV
    - Moebooru (FOSS Android) https://t.me/joinchat/BYcr9xAeSpDoEDf9swQw1g
2. IPFS+I2P standalone clients
    - Orion (Windows/OSX/Linux) https://github.com/Siderus/Orion
    - IPFS Windows GUI installer 1 https://git

[2018-06-06 08:36] #167 closed

[2018-06-22 02:14] sgsunder opened #168 "Allow for fetching of client side configs during runtime?"
Is there any reason why some of the client-side configurations have to be built beforehand, instead of being fetched from the server at runtime?

Specifically, the privileges and password, username, and tag regexes in the config.yaml file could be fetched from the server as needed, instead of being baked into a JSON file at buildtime. I also noticed that `info_api.py` on the server side already pr

[2018-06-22 07:14] rr- commented on #168
There's no real reason other than the info API being an afterthought (hence the technical debt you pointed out). If you wish to change this behavior, I encourage you to fire a PR.

[2018-06-22 10:03] joshuaavalon opened #169 "Docker deployment"
I am experimenting on docker deployment. Will you accept pull request on that?

[2018-06-24 02:28] joshuaavalon commented on #169
I want to confirm is the version compatibility for postgres and elasticsearch. I am trying postgres 10.4 and elasticsearch 6.3.0. It does not seem to have problems.

[2018-06-24 04:41] rr- commented on #169
There shouldn't be any problems; I'm running an instance with elasticsearch 6.2.3-1 and postgresql 10.3-1.

[2018-06-27 23:15] #168 closed

[2018-06-28 07:40] joshuaavalon commented on #169
@rr- Would you mind to help test it out? https://github.com/joshuaavalon/szurubooru/tree/docker

You need a `config.yaml` at the project folder with  `data_dir: '/data'` and `database: 'postgres://szurubooru:szurubooru@postgres:5432/szurubooru'`.

Then, `docker-compose up -d` will works. Currently there are two Dockerfile for the server. `Dockerfile.server` is based on Debian while `Dockerfile.ser

[2018-06-28 15:32] sgsunder commented on #169
@joshuaavalon you can look at [my docker deployment](https://github.com/sgsunder/szurubooru/tree/docker), it works similar to yours but incorporates the latest commit. I use `python:3.6-slim` which is much smaller than `python:3.6-jessie`, but doesn't need to build python packages like alpine does because of musl. I also custom build ffmpeg with only the needed features to shrink the image even mo

[2018-06-28 16:06] joshuaavalon commented on #169
@sgsunder `python:3.6-slim` is a much better solution. I remove Alpine and Jessie. I skimmed through your docker deployment. I see you extract many configurations to `docker-compose.yml` with extract script but I prefer a simpler approach with at little change to original deployment at possible.

[2018-07-06 09:02] MaxValue opened #173 "error: invalid command 'bdist_wheel'"
I am currently in the process of installing szurubooru for the first time.

After setting up the python venv I installed the requirements.txt. Nearly every module threw this error. A short google research told me that I have to install the 'wheel' package first. Hmm.

Can you add this 'wheel' package somehow to the requirements/dependencies so it just installs itself?

Thanks in advance!

[2018-07-06 09:45] ev1l0rd commented on #173
`wheel` is installed during a normal `pip` install. Not having it would indicate that your `pip` installation is broken. Try reinstalling `pip`.

If it is properly installed, then your venv might not have it installed. Try recreating the venv.

[2018-07-06 10:32] MaxValue opened #174 "npm module ' babel-preset-es2015' is deprecated in favor of 'babel-preset-env'"
When going through the normal [installation process](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#preparing-environment) and running `npm install`, it gives the following error message (building works fine though):
`npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!`

[2018-07-06 10:38] MaxValue opened #175 "npm module 'formidable' v1.0.17 is deprecated"
When going through the normal [installation process](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#preparing-environment) and running `npm install`, it gives the following error message (this is the second message overall after the one in issue #174 ):
`npm WARN deprecated formidable@1.0.17: Old versions of Formidable are not compatible with the current Node.js; Upgrade to 1.2.0 or late

[2018-07-06 10:42] MaxValue commented on #173
I redid the whole installation again and now no error is thrown during installing `requirements.txt`. Weird.

But it works now!

[2018-07-06 10:42] #173 closed

[2018-07-06 10:59] MaxValue opened #176 "Installation process: 'npm run build' throws 'sh: 1: node: not found'"
When running `npm run build` from the [installation process in order to compile the frontend](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#preparing-szurubooru-for-first-run), it gives the following error trace without building successfully:

[code]

This is the `npm-debug.log` file it wanted me to include here:

[code]

Again, please forgive me for opening another issue :bowing_man:

[2018-07-06 11:13] ev1l0rd commented on #176
You somehow have npm installed and not node. Try installing node again.

On Fri, Jul 6, 2018, 12:59 PM Max F <notifications@github.com> wrote:

[2018-07-06 11:22] MaxValue commented on #176
Is this a dependency? In the [installation process](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#installing-hard-dependencies) it is not written to install node, only npm (out of all JavaScript-related packages).

So, how do I install it? Sorry for asking this, I am not a big JavaScript guy.

[2018-07-06 11:31] mserajnik commented on #176
@MaxValue Depending on which OS you're on, there are several ways to install Node.

If you go to the [official website](https://nodejs.org/en/) you'll find installers (those will install Node and npm). Or you can install via a package manager for your OS (e.g., [Homebrew](https://brew.sh/) if you're on macOS or [Apt](https://wiki.debian.org/Apt) if you're on a Debian-based Linux).

[2018-07-06 11:35] mserajnik commented on #174
Yup, it's just a deprecation warning and the build should still work fine.

@rr- Think we should update the dependencies soon? I can look into that if you want me to, maybe after #172 is merged?

[2018-07-06 13:13] rr- commented on #174
@mserajnik yeah, I'd appreciate a PR. I left a couple of notes for #172; the soonest they get addressed I'll test it on my instance and merge it.

[2018-07-06 13:14] rr- commented on #176
Whoa, I didn't know you could install `npm` without `node`.

[2018-07-06 13:41] MaxValue commented on #176
Hmm. Regarding what ev1l0rd said:

Okay, then I guess they won’t add this as dependency to the apt package. Maybe I should have read what optional additional packages were available... I will try that and tell you guys if I got node working.

[2018-07-06 15:12] sgsunder commented on #176
It seems unlikely that you have npm installed but somehow managed to not have node installed. More likely is that npm is somehow not finding node on your `PATH`

Does running `which node` in a shell give any results? You can also try running `node build.js` directly, instead of `npm run build`, to see if that works.

[2018-07-06 17:40] rr- commented on #174
#172 Merged

[2018-07-06 17:46] rr- commented on #169
Thanks to recent changes from @sgsunder, the dockerization process should be much simpler now.

[2018-07-06 19:35] mserajnik commented on #174
Thanks, I'll see to get to it in the coming days, @rr-.

[2018-07-07 19:41] #176 closed

[2018-07-07 19:53] MaxValue opened #178 "Installation process: python package 'psycopg2' will be renamed to 'psycopg2-binary'"
During the installation process while running `alembic upgrade head`, it returns this error first off:
`/home/USERNAME/Path-To-Git-Clone/server/python_modules/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http:

[2018-07-07 20:13] MaxValue opened #179 "Installation process: 'test' script for running tests does not exist"
In the [installation guide](https://github.com/rr-/szurubooru/blob/master/INSTALL.md#preparing-szurubooru-for-first-run), the last step asks to run the tests through `(python_modules) USERNAME@MACHINE:~/Path-To-Git-Clone/server$ ./test`.
This test script does not exist. Going to the repo root and doing `find . -name 'test'` only returns files and dirs under `client/node_modules/` which I guess are

[2018-07-08 07:30] #174 closed

[2018-07-08 07:30] #175 closed

[2018-07-08 08:11] rr- commented on #179
Fixed in https://github.com/rr-/szurubooru/commit/320c16743d8bef19f0f88c614b1336add1f7db87

[2018-07-08 08:11] #179 closed

[2018-07-11 16:57] mserajnik opened #181 "Proposal: add web app manifest"
Having a web app manifest would allow users to add szurubooru to the home screen on their mobile devices, making it behave somewhat like a native app in the sense that it could have its own app icon, and opening it would first show a splash screen and then a "fullscreen" browser without status bar (_standalone mode_).

It's basically just a single JSON file (`manifest.json`) that needs to be place

[2018-07-11 18:57] rr- commented on #181
Yeah, this is something I'm willing to merge.
I'd use the favicon, which features Hiiragi Tsukasa from Lucky Star.

I believe I found a fairly close image to the one used by the favicon:
![-tsukasa-hiiragi-22346637-512-512](https://user-images.githubusercontent.com/1045476/42593422-ac65a32a-854c-11e8-8594-40fdad0e39a5.jpg)

[2018-07-17 13:14] xeon927 opened #182 "Tag on Upload"
Hey - just a quick question to see if there's any way to tag on upload - ie, when adding files/links, you have the option to choose "Safe", "Sketchy", or "Unsafe". Is there planned to be anything (like a text box in this general area) where I can add tags in while sorting out things to upload, then just press upload and walk away?

Thanks in advance :)

[2018-07-17 13:17] rr- commented on #182
The project used to have this feature, but it ended up being in the way of our users, so I removed it.

It is possible to tag the images on upload through the API, of course.

I'm not against readding this feature, but it probably should be configurable. At any rate, I recommend PRs.

[2018-07-17 13:49] #182 closed

[2018-07-17 18:38] mserajnik commented on #182
@xeon927

This is not exactly what you're looking for, but I've written a tool a while back that's intended for mass-importing files into szurubooru and can add tags automatically, if provided for a given media file. It can also create new tag categories and update tags for existing files.

The tool might work as a workaround for you – you can find it [here](https://github.com/mserajnik/szuruporte

[2018-07-20 20:18] mserajnik commented on #181
Fyi, I'm gonna wait until #180 is merged.

[2018-07-20 21:03] mserajnik commented on #181
@rr- Testing #180 you mean? Sure, I can do that. Will probably have to wait until Tuesday or Wednesday though.

[2018-07-20 21:04] rr- commented on #181
That'd be great. Thanks :+1:

[2018-07-22 12:03] #178 closed

[2018-07-25 11:40] #169 closed

[2018-07-27 19:40] legionfrontier opened #184 "Problem when building the image"
Greetings, I got this error when following the installation

Building backend
Step 1/18 : FROM scratch as approot
ERROR: Service 'backend' failed to build: Error parsing reference: "scratch as approot" is not a valid repository/tag: invalid reference format

[2018-07-27 21:21] mserajnik commented on #184
Which version of Docker are you on? Could you try rewriting [this line](https://github.com/rr-/szurubooru/blob/master/server/Dockerfile#L1) to `FROM scratch AS approot` and see if that works for you?

@sgsunder The [docs](https://docs.docker.com/engine/reference/builder/#from) have `as` written uppercase (`AS`):

You think writing it lowercase might cause issues in certain/older versions of Docker

[2018-07-28 00:19] legionfrontier commented on #184
Same error and my version is:
Docker version 17.03.2-ce, build f5ec1e2

[2018-07-28 01:00] mserajnik commented on #184
Thanks for testing that, was just a guess. :)

I'm on `18.06.0-ce` and it works fine, so if updating is possible for you, you might wanna try that.

Otherwise, @sgsunder, care to take a look? I think you're more qualified than me here. :D

[2018-07-28 02:10] sgsunder commented on #184
The image uses a multi-stage build, which apparently requires version 17.05 or later [(src)](https://docs.docker.com/develop/develop-images/multistage-build/)

If you can't upgrade to 17.05 for some reason, you can the images that I've hosted on Docker Hub:
`sgsunder/szurubooru_backend:latest` and `sgsunder/szurubooru_frontend:latest` This is built from my fork, which I'm testing some minor change

[2018-07-28 02:20] sgsunder commented on #184
Side notes:

1) This version requirement should probably be documented in `INSTALL.md`

2) @rr- , would you be willing to set up an automated build on Docker Hub (or any other public container repository)? Or maybe include automated builds into the Travis PR #171 ? That way, we can sidestep this issue in the future entirely.

[2018-07-28 04:50] legionfrontier commented on #184
Yeah, have Docker version being 17.05+ is what was need here at least regarding the building, so yeah it now finish good enough, now I dont know if its another problem of my side or me:

  File "./wait-for-es", line 8, in <module>
    from szurubooru import config, errors
  File "/opt/app/szurubooru/config.py", line 59, in <module>
    config = read_config()  # pylint: disable=invalid-name
  File

[2018-07-28 13:32] rr- commented on #184
I'd avoid Dockerhub and merge Travis but I'm not sure if it's ready…

[2018-07-29 01:29] legionfrontier commented on #184
Almost there, it builds and runs and such now without problems or so I think now I wonder where Im failing here, any help, if it wasnt obvious Im not that experienced with Docker and such

![booru](https://user-images.githubusercontent.com/32469747/43361972-a474a728-92a4-11e8-92ce-3b8b30d48299.png)

[2018-07-29 01:44] sgsunder commented on #184
Seems to indicate that the backend API is unreachable.

Can you paste your `docker-compose.yml` file?

[2018-07-29 06:45] legionfrontier commented on #184
Im using actually pretty much the vainilly configuration ._,

 ## Python3 container for backend API
  backend:
    build:
      context: ./server
    depends_on:
      - sql
      - elasticsearch
    environment: # Commented Values are Default
      ## These should be the names of the dependent containers listed above, or
      ## accessible hostnames/IP addresses if these services are running

[2018-07-29 16:19] sgsunder commented on #184
You should reset this back to the defaults if you aren't changing anything.

`POSTGRES_HOST: sql`
`ESEARCH_HOST: elasticsearch`

[2018-07-31 17:16] legionfrontier commented on #184
Just wanted to mention that while everything builds and runs it still showing the same error, also how do I configure stuff like nginx/ssl and such on here? I dont know when dealing with docker

[2018-07-31 17:47] mserajnik commented on #184
Personally, I have my nginx with the SSL config running outside of Docker and reverse-proxy the requests to the Docker containers.

[2018-07-31 20:15] noirscape commented on #184
@Legion

This is a sample configuration for nginx:

[code]

Surround this with the usual stuff for a server block on the host
(server_name, port and the ssl configs) and you have it working with SSL.

You don't need to touch the containers themselves to set it up like this.

On 31 July 2018 at 19:47, Michael Serajnik <notifications@github.com> wrote:

--
Vriendelijke groet van Valentijn Vermeij

[2018-08-01 14:51] sgsunder commented on #184
Possible issues:

Did you follow this part in the install guide?

If you're not using a `config.yaml` file you need to remove or comment out this line in the compose file:

If that still doesn't work, can you try posting the logs from the API backend container? (`docker-compose up -d`, wait for about a minute, then `docker-compose logs backend`)

[2018-08-04 10:49] artsiomyemelyanenka opened #186 "Docker compose: backend node does not start"
Hello,

I faced an issue with backend node. I followed the instruction to start app as a docker container (Docker version 18.06.0-ce, build 0ffa825). It builds smoothly, but when I execute 'sudo docker-compose up -d' I notice that frontend and backend nodes are shut down in few sec.

When I look at the logs for backend node I see:

[code]

[2018-08-05 15:39] legionfrontier commented on #184
Hello again, just wanted to say I got it working a few days ago but was busy to comment about it, I used everything default and what you guys told me to try, yeah it gets it work it for now

[2018-08-05 15:58] #184 closed

[2018-08-05 20:42] legionfrontier commented on #182
I will appreciate it, Hydrus is hilariously uber complicated

[2018-08-06 12:12] #181 closed

[2018-08-11 00:54] legionfrontier opened #188 "Tags on upload"
Greetings, following the https://github.com/rr-/szurubooru/issues/182, can we have another options that doesnt involves the usage of a hilariously overcomplicated program to tag stuff and mass upload images to the booru? because sure isnt fun to do so on 50k images manually when I already have most tags on the filename anyway, I will greatly appreciate it

[2018-08-11 07:57] legionfrontier commented on #188
@rr- https://github.com/mserajnik/szuruporter @mserajnik 's tool makes uses of Hydrus that is hilariously overcomplicated imo, the images are already like this: "blue_hair girl smiling hugging rem blushing.jpg" so I wish to use the filename already to get tags on upload

[2018-08-11 18:01] mserajnik commented on #188
@legionfrontier

So what you want to have is an option in szurubooru itself (like a checkbox in the upload view) that let's you automatically tag images based on their filenames, right?

So, uploading a file called `blue_hair girl smiling hugging rem blushing.jpg` would create a post that has the following tags:

[code]

@rr- This is actually quite different from #182 where the request was to have

[2018-08-11 19:50] noirscape commented on #188
FWIW, myimouto (which was my go to booru before szurubooru got docker support), supported this feature in a way, where you could upload files to a folder and it would upload them if you went to the batch import page, with tags coming from both the filename and folder structure.

I say in a way, because I never got this working for the folder structure (so much for that feature), but did get it wor

[2018-08-11 19:53] legionfrontier commented on #188
@mserajnik yes mate, exactly I want that

@rr- yeah so please reopen my issue plox, seems we have 2 folk over that like the idea too

[2018-08-11 19:56] rr- commented on #188
No. It's a feature creep.

Just use the API and upload the posts however you want…

[2018-08-11 19:56] noirscape opened #189 "Feature request: Update implications retroactively"
Currently, when making a tag structure (with implications), implications are not updated/applied/removed retroactively.

Example:
- Tag `ridley` is implicated towards the tag `metroid_(series)`.
- I upload several images and tag it as `ridley` after uploading, which adds the implication for `metroid_(series)`.
- Later I decide to implicate the tag `metroid_(series)` to a more global `nintendo` tag

[2018-08-11 19:58] rr- commented on #189
That's what mass tag exists for

[2018-08-11 20:10] noirscape commented on #189
I'm aware it does, and up to a point, it certainly does, but eventually I just end up hitting a point where I have to retag a large amount of images.

I'm fine with this being a toggleable feature or adding an approve warning that this retroactively updates stuff and that caution(/backups) should be made.

Admittedly... looking at it, that part was very poorly phrased, and indeed, looking at it se

[2018-08-12 10:55] mserajnik commented on #188
@rr-

Fair enough, I didn't think about the potential issues. Going further, you could only combat such problems by having a blacklist of words/phrases to exclude when parsing the tags from the filename. And having such a thing (with it's own view, savable settings and everything) would then really bloat up szurubooru just for such a niche feature.

@legionfrontier

Since @rr- has dismissed adding

[2018-08-15 15:19] joshuaavalon opened #190 "Feature request: Extra metadata"
When we upload the images, the source images always come with some metadata. It would be nice if we can include some of them.

For example:

* Title
* Description
* Source URL

[2018-08-16 08:39] mserajnik commented on #190
Imho, that's what tags are for. You can easily just have namespaced tags like `title:lorem` and `description:lorem ipsum dolor sit amet`. Plus, there's notes (where you could put the source).

What would be the benefit of having these as separate fields?

[2018-08-16 08:57] joshuaavalon commented on #190
@mserajnik Title, description, source URL does not like tags because they are most likely be unique. Also, this will make the tag very long for not reason.

You can have them show properly instead of showing all of them on side. And you don't want to search them when you are search for tags. Also, if we have search on Google,  why do we just include the link to original source?

From what you are

[2018-08-16 10:28] mserajnik commented on #190
Thanks for expanding your explanation.

I agree, that would be pretty dumb, but that's also why I wrote

This is already a "catch all" field for everything else that doesn't really fit into tags. Seeing as other major booru softwares (Danbooru/Gelbooru) don't have title or description fields, this sounds like a pretty niche use case to me (because I would expect those large boards to already have

[2018-08-16 10:34] rr- commented on #190
`szurubooru` used to have a source field but nobody used it, and thus I removed it (IIRC it's still accessible through the API if you want).

I think fields such as `title` and `description` belong to sites such as DeviantArt, FlickR or Pixiv where authors upload their own content. I certainly wouldn't want to occupy any vertical space for this feature.

[2018-08-16 14:59] noirscape commented on #190
For what it's worth, e621 does support this feature in the form of a text box in which anything can be put (typically any comments the artist added to it). That said, I think that the same could be acomplished with a top comment.

[2018-08-17 11:49] joshuaavalon commented on #190
@noirscape That's my current solution. I guess I will close this request.

[2018-08-17 11:49] #190 closed

[2018-08-18 17:12] MaxValue opened #191 "Docker version: API server port?"
Hi!

How can I find out the port of the API server in the docker version? Using port 6666 returns this (using python3 requests):

I used this request (python3 requests):
[code]

Maybe I specified something incorrectly? Or can I just use port 8080? (Which does only reply with empty html pages)

[2018-08-18 21:31] MaxValue commented on #191
Okay, so I found out my mistakes. For anyone having similar problems:

- You can use `'Authorization'` in the headers dict when you make the request, no need to make that seperately. Of course it also works by using the `auth` parameter of the corresponding requests method (meaning like `requests.get` or `requests.delete`).
- You have to prefix all API calls with `/api/` so for example to get a sp

[2018-08-18 21:31] #191 closed

[2018-08-18 23:33] mserajnik commented on #191
@MaxValue

Fyi, you can also query all the API routes via basic authentication if that makes it easier for you to accomplish what you're trying to do, no need to generate tokens. See [here](https://github.com/mserajnik/szuruporter/blob/master/src/Helpers/ApiWrapper.php) for an example (in PHP, but it's the same in Python of course).

The benefit of basic authentication is that you don't have to wo

[2018-08-19 09:51] mserajnik commented on #191
@MaxValue

 Sorry, I didn't mean to confuse you.

Tokens expire at the end of the session by default. If the "remember me" option is used, the token expires after 365 days, iirc. You may be right that tokens won't expire if you have created them manually (instead of on login) or at least won't expire until after an arbitrarily long amount of time – but you should be able to check the expiration ti

[2018-08-19 10:09] MaxValue commented on #191
Ah I know what you mean. This field when creating the token where you can set the expiration date. Yeah, I left it free and after saving, it showed "Forever". So you are saying even then tokens can expire? Can we document that somewhere or even better: add a note in the GUI?

Thats actually good news! This means we can prefix all API routes/paths in the API documentation with `/api`! If its not ch

[2018-08-19 10:25] mserajnik commented on #191
Nope, they shouldn't expire in that case (unless deleted manually). Sorry, I wasn't aware that creating tokens without any expiration date at all was a thing. :D

[2018-08-19 14:46] MaxValue opened #192 "Error with psycopg2-binary while building docker version"
So when running `docker-compose build --pull` according to the installation guide, it throws this error:

Is the bug in the psycopg2-binary module or can we simply configure the building scripts differently?

FYI: This error occured on Rasbian stretch but not on Ubuntu xenial.

[2018-08-21 16:15] joshuaavalon commented on #192
You changed the base image?

[2018-08-21 16:21] joshuaavalon opened #193 "Bug: Configure reset password mail sender address"
https://github.com/rr-/szurubooru/blob/1fe22a4d0aa6f7e374394afc7777361e48f21823/server/szurubooru/api/password_reset_api.py#L32

Using name as the sender is not really suitable because `name` is usually not a valid domain name. Also, if we can add a config to allow user to set it to match the DNS records, these will reduce the chance of the mail going to spam.

[2018-08-22 11:39] MaxValue commented on #192
Nope I did not change anything about the docker image. These are the complete installation steps I did:

#### Ubuntu
##### Docker
I followed [this tutorial](https://docs.docker.com/install/linux/docker-ce/ubuntu/) except I ignored [the section about the storage drivers](https://docs.docker.com/install/linux/docker-ce/ubuntu/#supported-storage-drivers). I then installed docker via `sudo apt-get ins

[2018-08-22 12:04] joshuaavalon commented on #192
My guess would be your raspberry pi CPU. [psycopg2](https://pypi.org/project/psycopg2/#files) does not have a compiled version for the CPU and it try to compile and failed because of missing headers. Others does not need this because they can just download the compiled package.

You can add back the necessary headers before this line
https://github.com/rr-/szurubooru/blob/b22c887e4b7ebc3c11d72f2ce

[2018-08-22 13:18] MaxValue commented on #192
I will try that! Thanks!
I will post the results here, once I tested it.

[2018-08-25 03:45] joshuaavalon opened #196 "Bug: [object Object] in Suggested tags"
![default](https://user-images.githubusercontent.com/7152420/44614679-ea3a9c00-a85b-11e8-8ded-5c2bd130d6dc.PNG)

Version: [cbf67587e29565a4783a49c506f23b2e5cfe49d0](https://github.com/rr-/szurubooru/commit/cbf67587e29565a4783a49c506f23b2e5cfe49d0)

Response of tag-siblings:
[code]

[2018-09-07 14:57] mldr2 opened #197 "Error after install"
I get `Could not fetch basic configuration from server` messenge after installation.

[2018-09-07 17:13] rr- commented on #197
That's unfortunate.

[2018-09-10 18:11] tofudd opened #198 "Feature request: drawing a single post."
Like this: [http://testbooru.donmai.us/posts/random](http://testbooru.donmai.us/posts/random)

[2018-09-10 22:55] noirscape commented on #198
(proper title should be "retrieve a random post", drawing implies manually drawing something using the mouse, your context indicates that it is the latter)

[2018-09-11 11:02] rr- commented on #198
You can achieve that with `sort:random`

[2018-09-11 13:27] mldr2 commented on #198
Yes but this show all posts. I need only one.

[2018-09-18 04:41] antonizoon opened #200 "IPFS support for Szurubooru"
IPFS is decentralized p2p load balancing, file deduplication, and federated protocol for serving files and webpages. It can provide horizontal scaling across multiple home servers instead of having large servers with bandwidth.

It's become quite mature and there are multiple experimental booru engines that are supporting it, so it could. More info on IPFS here:

https://ipfs.io/ipfs/QmNhFJjGcMPqp

[2018-09-18 07:03] rr- commented on #200
Okay

What about Hydrus?

[2018-09-19 02:29] antonizoon commented on #200
Although I certainly wouldn't run a critical government service on this (though I am interested in possibly integrating Szurubooru into the Library of Congress Concordia crowdsourced handwriting transcription system), IPFS has functioned quite well enough for static files for years in the following examples:

https://neocities.org/

The preferred method right now of interfacing with IPFS is to use

[2018-09-19 02:46] antonizoon opened #201 "Hydrus Integration for Szurubooru"
Another option for p2p file syncing or sharing of booru files is to use the Hydrus Network, which syncs images and tags of large image collections. Although there are attempts at [creating a webUI for hydrus](https://github.com/mserajnik/hydrusrvue), they have not yet reached full maturity as a booru since they don't offer public upload. Hydrus is also written in python which can help.

https://hy

[2018-09-19 05:40] rr- commented on #200
Please keep in mind that szurubooru wasn't designed to handle such extreme data volumes (our current instance hosts 28 GB). It's likely you'll have to rework search system for example.

[2018-09-19 06:07] mserajnik commented on #201
Thanks for checking out my projects. Although I‘m not sure if this was coincidence? :D

First, let‘s start off by clarifying that the hydrus network _does not_ by default sync files/tags with anything. To achieve this, one has to either run their own hydrus network server instance (and share the access to it with other users) or connect to an existing server, mainly the one run by the hydrus netwo

[2018-09-19 18:15] DonaldTsang commented on #201
Hydrus is a very powerful scraper and DB, but only Szuru has a WebUI to handle multiple clients (Hydrus uses SQLite, a unique DB structure and can only handle a small amount of concurrent clients)

[2018-09-19 18:16] DonaldTsang commented on #200
Using IPFS to off-load traffic would be very convenient, while the DB portions require communications between Hydrus and Szuru.

[2018-10-17 21:10] jimmyy4 opened #203 "Feature request: Embed meta tags"
Meta tags so posts will embed in social media and chat platforms.

Twitter summary cards: https://dev.twitter.com/cards/types/summary
Open Graph tags: http://ogp.me/

[2018-10-18 00:06] Flanamo opened #204 "Feature request: Link to source image (Pixiv/DeviantART/Twitter)"
Feature request for the ability to link a source to an image, as in to the original post of the art, like a Pixiv link or a twitter link.

[2018-10-22 13:11] DonaldTsang opened #205 "API adapter to allow for compatibility with Danbooru/Gelbooru/Moebooru/Shimme/MyImouto"
List of apps that uses "standard APIs":
http://www.animebox.es/ (Android and iOS)
https://www.mignori.com/ (iOS only)
https://www.patreon.com/kinoshitaproductions (Android only)
https://github.com/tjg1/nori and https://github.com/onlymash/moebooru-android (FOSS Android)

[2018-11-04 04:59] princessGasmask opened #206 "So close to a successful install..."
I managed to get through the install process that's listed in the README. All of the dependencies installed properly and when I check running containers, all of the processes for Szuru are running perfectly fine. However, when I go to access the URL, I get the message "Could not fetch basic configuration from server." I feel like there's probably something super simple that I'm just missing out on

[2018-11-13 12:25] CorePoint opened #207 "Error when uploading videos with sound"
When i try to upload videos with sound i get this error:
edit:
correction it doesn't happen with all files with sound, i'm going to provide an example.
https://ptpb.pw/wYYy
[code]
Thank you for this great piece of software!

[2018-11-14 19:27] FoxxMD opened #208 "Feature request: token to expand search to implications/suggestions of tags"
It would be great if I could expand a query by using a token to signal that I want to search by tag X, and also any suggested/implicated tags for tag X.

[2018-11-17 22:37] DavidDeprost commented on #206
Most likely you just forgot step 1 of 'Running the application' in the INSTALL.md file: setting the vm.max_map_count parameter for ElasticSearch.
(See https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-prod-mode)

On windows it should be as simple as entering the following 2 commands:
$ docker-machine ssh
$ sudo sysctl -w vm.max_map_count=262144

[2018-11-18 18:29] noirscape commented on #206
Try starting docker with `docker-compose up` as well.

[2018-11-28 13:01] noirscape opened #209 "Feature request: Changing tag category order"
At the moment, tags are sorted on post pages in the category order in which the category is made.

It would be handy to be able to change this order, since as it currently stands, if a category is added later on, the tags for it will always be at the top, which might not always be desirable.

For an example use case:

- Assume I have the categories `artist` and `character`.
- I decide to add a new

[2018-12-13 16:50] CorePoint commented on #207
Thanks man!
I'll try that, if you want me to i can do the PR.

[2018-12-15 05:55] sgsunder commented on #207
Hmm, you could try my fork of this repo. It already my fix implemented plus a bunch of other minor fixes and code cleanups (although I don't know what else would have fixed it). I use this version almost every day for uploads and I haven't run across this issue yet

You can just copy the [`docker-compose.yml`](https://gist.githubusercontent.com/sgsunder/b694d50dbb10e9db355f193d2794ee3d/raw/61af945

[2018-12-15 06:18] rr- commented on #207
Why not backport your changes to upstream?

[2018-12-20 03:03] WychWitch commented on #192
Hello, I've run into this problem as well! How do you add back the necessary headers? I'm also using a a raspberry pi (ARM)

[2018-12-20 17:52] MaxValue commented on #192
No problem!

I tried it once (meaning: compiling), but it threw just more errors which were even more intelligible (at least for me) so I kinda gave up. Although I still would like to see this solved.
I guess you have to keep installing all dependencies, google all the errors and ... I don know. :man_shrugging:
I never really had to compile anything in my life, so this is very black magic to me.

[2018-12-21 14:45] WychWitch commented on #192
With the help of a friend I solved it! But now I ran into another error. I'll post the fixed dockerfile in here once I get everything smoothed out!

[2018-12-21 20:49] WychWitch opened #212 "ERROR: Service 'frontend' failed to build: The command '/bin/sh -c npm install' returned a non-zero code: 139"
Hello, I'm currently running into this problem when building the front end on my raspberry pi 1.
[code]

Here is my docker file

[code]

My os information is as follows:
[code]

As you can see I've editedthis socket file a bit. I ran into some dependency problems (mostly pillow, but also make before that) I fixed by including them in an apt-get. I also wget'd nodejs to make sure I had it installed

[2018-12-22 11:33] #207 closed

[2018-12-22 18:13] sgsunder commented on #212
This entire project is split into two parts. `client/` is just a web interface that runs in the user's web browser, written in your usual HTML/JS/CSS. node/npm is only used for the `build.js` script that bundles all the client-side Javascript and CSS together. It's not used during runtime.

`server/` is a REST API written in Python that is the core of the application. It doesn't need node to run.

[2018-12-22 18:55] WychWitch commented on #212
oh wow, I had no idea there was even a client dockerfile! I should've looked there whoops.

Thank you so much! While searching I found this https://hub.docker.com/r/hypriot/rpi-node/ which looks like it's exactly what I need. I just have to replace `FROM node:9` to `FROM rpi-node:9` right? This whole experience has been my first time messing around with docker so forgive me if this is an obvious q

[2018-12-22 21:01] WychWitch commented on #206
Hello! I'm having this problem as well. I also forgot step 1 when I was first setting up the server and set it now, despite that it's still not working correctly.

Here is the output of docker-compose up:
[code]
Here is the output of grep and cat to show the settings were applied correctly.

[code]

And finally, my system hardware:

[code]

I can supply more information if needed!

[2018-12-22 23:45] WychWitch commented on #206
I almost had it... I discovered [this](https://hub.docker.com/r/ind3x/rpi-elasticsearch/) docker image and figured out where the elasticsearch image was being pulled from! In the docker-compose.yml file I just had to change the images as follows:

[code]

After it pulled the image it worked fine until! I ran into this error

[code]

My tiny rpi simply isn't strong enough to run it. I'll edit this

[2018-12-23 00:17] sgsunder commented on #206
You'd need an elasticsearch docker image that's compatible with ARM.

Perhaps this would help? https://stackoverflow.com/questions/46543198/running-elasticsearch-container-on-raspberry-pi-3

If not, you can also see if you can run the elasticsearch service on a seperate x86 machine or on the cloud, and talk to it over a network.

[2018-12-23 00:39] WychWitch commented on #206
@sgsunder  That's exactly what I found! And after adding more memory with a swap the elastic seems to work fine!

However, now when going to the site itself (on my local area network) I got this error:

[code]

As you can see how I censored, it seems to be trying to connect upstream with some external ip (which isn't mine, as I've checked, ) and failing. I'm not sure what's causing this error? It

[2018-12-23 15:03] noirscape opened #213 "Add instructions to upgrade postgresql to install.md"
At the moment, the deployment setup makes use of docker and uses `.env` files to prevent users from having to manually modify `docker-compose.yml`. Unfortunately, as a side effect of this, this means that users that install szurubooru will eventually run into an issue when postgres gets a major release.

As postgres is maintained through docker and postgres's update_db doesn't work when ran like t

[2018-12-23 22:33] w1kl4s opened #214 "Permission error during Docker installation"
Build goes throu just fine, but whenever i try to start the application with `docker-compose up -d` i get permission error:
[code]
I don't really have experience with docker, so i have no idea if it means my machine, docker container, or whatever is actually there.

[2018-12-24 07:52] TiredSysOp commented on #214
dirty fix to get it running

chmod -R 777 /var/local/szurubooru

[2018-12-24 08:37] w1kl4s commented on #214
Isn't that location in Docker container? That location does not exist on my server, i tried creating it and doing exactly that but with no luck.

[2018-12-24 08:44] TiredSysOp commented on #214
It's a mount point, it should be an area on your disk which is not containerised. Bare with, I'll fire up my vm and see what I did.

[2018-12-24 08:48] TiredSysOp commented on #214
Running as root or a normal user? Did you follow the current install instructions?

[2018-12-24 08:53] w1kl4s commented on #214
I followed the instructions, first as normal user then tried redoing it with sudo.

[2018-12-24 08:55] TiredSysOp commented on #214
Can you confirm the permissions for the offending folder

[2018-12-24 09:02] w1kl4s commented on #214
Good old dirty 777, as said before

[2018-12-24 11:37] TiredSysOp commented on #214
I've recorded the whole thing too, I think there may have been an error in the installation steps at your end as I got mine to start up, but then had to sort out the inability to upload at the end. I'll stick a video up here when it's sorted and you can see if anything jumps out at you.

[2018-12-24 12:10] TiredSysOp commented on #214
Don't take it the wrong way. It's just worked for me.

https://youtu.be/dbcJrXLYI3I

If there's anything incriminating just ignore it

[2018-12-24 15:40] w1kl4s commented on #214
Seems i managed to get it working by nuking all docker containers and redoing with sudo.

[2018-12-24 15:40] #214 closed

[2018-12-24 16:35] sgsunder commented on #206
It's probably the IP address of the Docker container containing the Python REST application (`backend`). Usually in the range 172.*.*.*

Docker containers function kinda-but-not-really like virtual machines linked through a virtual network. So you have one container that runs NGINX which serves the static web content and is accessible from the outside via the exposed port 8080.

The NGINX containe

[2018-12-24 17:15] WychWitch commented on #206
Oh! That makes so much sense! Thank you so much for the explanation, that's exactly what it was.

I found a raspberrypi specific NGINX docker image [here](https://hub.docker.com/r/tobi312/rpi-nginx/) which might fix my problems, but I'm not sure. I'll rebuild everything again after I add it to the Dockerfile and update if it makes any difference.

But before that, here is my full log when launchin

[2018-12-24 21:35] sgsunder commented on #206
`docker-compose build backend` will only rebuild the backend, for example.

The backend container is not supposed to exit. But it seems like the backend isn't outputting a stacktrace or any error messages either, which makes this difficult to debug.

[2018-12-24 21:54] WychWitch commented on #206
Ah okay thank you! And yeah I thought that was weird... The last thing I'll do is make sure that all of the apt-get and pip packages  are correct for my architecture in the backend.

If that doesn't work, I'm not sure what else to do. Still, thanks for all your help so far! I'll update once I have another crack at it.

[2018-12-26 00:51] rr- commented on #206
Well, that's why you're seeing `SyntaxError`.

[2018-12-26 04:35] raku-cat commented on #204
I noticed when I was messing with the API there's actually a `source` field, and in fact if you update or create a post using the API you can set a source
https://github.com/rr-/szurubooru/blob/master/API.md#creating-post
https://github.com/rr-/szurubooru/blob/master/API.md#updating-post
There's nothing in the webui for this though, I might just be blind though.

[2018-12-26 05:54] sgsunder commented on #204
Seems like you're right, this feature is already implemented in the backend. REST calls for this field gets mapped to a `source` column in the `post` table in the database. Just to make sure it's not meant for something else I ran a query `SELECT * FROM post WHERE source IS NOT NULL;`, which returns nothing, so it seems like an unused feature unless you're making external API calls.

Just need to

[2018-12-26 07:03] WychWitch commented on #206
Yeahhh that's what I figured. I set it back to 3.6 right after but unfortunately now I'm outta ideas...

[2018-12-26 09:40] rr- commented on #204
We used to have this feature, but the users of our instance weren't really using it, so I had removed it back in the days when szurubooru was not so popular. I didn't touch the backend, though.

[2018-12-26 13:03] Flanamo commented on #204
Ah so it's just the frontend that's missing it, didn't realize the API even mentioned a source I must've skimmed over it too fast.

[2018-12-27 05:01] raku-cat commented on #204
I couldn't find anything in the commit history of where this was removed on the front-end, I have viewing at least working so far on my branch https://github.com/raku-cat/szurubooru/commit/1bfc7170b11d389cfdcf3a72ecf5fc400e6b5bf5
Haven't been able to get actually setting the source working yet though past having the field to do it show up.
![image](https://user-images.githubusercontent.com/1125449

[2018-12-27 08:21] rr- commented on #204
It's in the archived 1.x branch:
https://github.com/rr-/szurubooru/blob/1.x/public_html/templates/post.tpl#L166-L178

[2018-12-27 16:05] WychWitch opened #216 "Unable to upload: PermissionError: [Errno 13] Permission denied: '/data/temporary-uploads'"
Hello! I'm sorry for always posting on here but this time I'm *extremely* close to getting this working.

I recently gave up trying to run this on my raspberry pi 1 and decided to test it on my pi 3, and after configuring everything for armv7 it finally worked! However, I'm running into a strange permission error.

<details>
<summary>
Here's the full stack trace of an error, and this pops up every

[2018-12-27 16:48] sgsunder commented on #216
You need to `chown -R 1000:1000` the mountpoint for the data directory (`$MOUNT_DATA` in `.env`), but you need to do this on the host machine, not inside the container

[2018-12-28 04:56] WychWitch commented on #216
Yep that was it! Thank you so much for all of your help, it works flawlessly now!

[2018-12-28 04:56] #216 closed

[2018-12-28 17:11] WychWitch opened #217 "Question: Is it possible to change file size limit? "Request Entity Too Large""
Hello again! I finally have my szurubooru system working flawlessly! However, I've encountered a problem where quite a few of my images are simply too large to upload, throwing the message `"Request Entity Too Large"` on the client side (nothing as far as I can tell on the server-side).

I understand why this is in place for public boorus, but since this is a private one I'd like to bump up the fi

[2018-12-28 18:51] ReAnzu commented on #217
The only limitation on upload size that I’m aware of in the docker configuration is in the client/nginx.conf.docker where the following line

‘’’
client_max_body_size 100M;
‘’’

Sets the max upload to a 100MB. If you’re using the docker setup, you can change that line in the client/nginx.conf.docker and the do a

‘’’
docker-compose build client && docker-compose down && docker-compose up
‘’’

to d

[2018-12-28 20:04] WychWitch commented on #217
Huh, this is weird.

Not only did it not work when set to 1000M, but when I checked the file it's only 1.51mb in size, far bellow the initial 100M limit.

Then I thought it might be the resolution, but is only 1000x1015 where the first post I made successfully was 2048x1008 (though its size was considerably less at 220kb)

I'm not sure what's going on? Maybe there's another config somewhere, I'll

[2018-12-28 22:15] WychWitch commented on #217
OH nevermind I was being dumb hahaha. I had it running through another nginx on the host machine and I completely forgot! I added the line `client_max_body_size 1000M;` to the top of the http block in my `/etc/nginx/nginx.conf` file and it immediately worked! Turns out nginx has a default max of 1MB (which explains why the 1.51mb file couldn't upload, despite the fact that it should've worked in t

[2018-12-28 22:15] #217 closed

[2019-01-02 04:10] joshuaavalon commented on #213
@rr-  How about pining the major version of postgres?

docker-library/postgres#37 suggests that using `pg_dumpall` to backup and restore to a new version.

[2019-01-02 04:19] joshuaavalon opened #218 "[Question] Is szurubooru/func/files.py all the methods that access image files?"
I am trying to implement using S3 compatible storage for storing image (or some kind of storage adapter).

From my research, `szurubooru/func/files.py` seems to be the only place that handle saving and loading images. I want to confirm if that is correct.

[2019-01-02 06:57] rr- commented on #218
Yes. From a quick glance, things that use user uploads are:

- Post uploading/serving (uses `files.py`)
- Post thumbnails (uses `files.py`)
- User avatar uploading/serving (uses `files.py`)
- Temporary file uploads (uses `files.py`)
- Elasticsearch (but it doesn't operate on physical filesystem)

[2019-01-02 07:05] rr- commented on #213
That's pretty much how it works: you export the whole database with the old Postgres version, then upgrade Postgres, then you import the data with the new version. Of course this means significant service downtime.

I'm not sure how other people feel about this, but I like it since I have had bad experiences with Postgres updates – basically every half a year, a full system upgrade that happened t

[2019-01-02 07:14] joshuaavalon commented on #218
Thank you

[2019-01-02 07:14] #218 closed

[2019-01-02 15:38] rr- commented on #218
Hmm, you're right, I forgot that at some point the backend changed that way.

To proxy post content retrieval through backend, you can start with the following untested draft:

[code]

[2019-01-02 15:42] joshuaavalon commented on #218
@rr- Nevermind, I can still use proxy_pass in nginx if the bucket if public

[2019-01-02 15:59] joshuaavalon commented on #218
Here is the code that I wrote. It needs `boto3` for S3 api and change the config for s3 config.

I cannot make a pull request because I use a different Dockerfile to handle how nginx works. I planned to submit a pull request with `files.py` changes only but it seems like it needs other major change in code base.

I leave the code for others if they want to implement S3

**config.yaml**
[code]

**f

[2019-01-16 18:48] TiredSysOp opened #219 "Feature request: Bulk upload via URL list"
Feature request for bulk uploading media by form of URL lists

Bulk uploads are possible if media is sourced locally however not so if multiple URLs are presented, each URL having to be entered manually.

[2019-01-24 21:20] gnarpaws commented on #190
A description field, which could contain for example a manual "transcription" or OCR from the posted image would be useful for handling memes. (Fulltext search)

[2019-02-05 05:01] joshuaavalon commented on #196
@rr- I have just investigate more about this problem.

I am able to reproduce it consistently with the following steps:

1. Create a new post
2. Edit the post
3. Add a existing tag
4. Click on the tag for suggestion

After some debugging, I believe the following lines are causing the problem.

https://github.com/rr-/szurubooru/blob/6510d0750c504ffc728966cce334db9544b35bcb/client/js/controls/tag_in

[2019-02-05 08:00] rr- commented on #196
Siblings != suggestions. As far as I recall, a tag sibling for a given tag X is any tag that is used in the same posts with X. So let's say you have three posts:

- Post 1 (tag A, B)
- Post 2 (tag A, C)
- Post 3 (tag B, C, D)

Tag A siblings should be B, C.
Tag B siblings should be A, C, D.
Tag C siblings should be A, B, D.
Tag D siblings should be B, C.

Each of these tags can have its own manual

[2019-02-05 13:54] lee-brown opened #221 "Can't upload gif through api"
I'm trying to upload GIFs from the internet to the booru. Images work fine, but if I try uploading a GIF I get an internal server error.

I found that if I include tags while uploading the GIF via the API it results in an error. Uploading a GIF without tags through the API works fine.

Portion of Server log after uploading gif with tags:

[code]

[2019-02-05 16:11] sgsunder commented on #221
I can't test this at the moment but the bug seems to be here:

https://github.com/rr-/szurubooru/blob/2fdd8cb3ab4f45796a4e9dd858caaaf215d19ef3/server/szurubooru/func/posts.py#L442-L444

and I think this should be replaced with:

[code]

[2019-02-09 01:40] #204 closed

[2019-02-09 22:31] TiredSysOp opened #225 "BUG REPORT: Video upload failure"
Extract from the log, same error regardless of direct connection or through reverse proxy.
https://pastebin.com/gfQNz6Ti Sorry I couldn't grab a more detailed log

Content appears to download to the server, but falters when waitress tries to identify whether it has audio or not and sends out a error message to the frontend as "Internal Server Error"

The offending clips [WARNING CONTAINS RICARDO]

[2019-02-10 02:22] sgsunder commented on #225
Looking at what some [other projects have done](https://github.com/slhck/ffmpeg-normalize/blob/bdb312731aa9cb4d968df9c128141073cfeca6a2/ffmpeg_normalize/_streams.py#L88-L93) in scripting volumedetect in python, it seems that they add the flags `-vn -sn` (which ignore any video or subtitle streams). Indeed, this seems to fix OP's error, but I'm not exactly sure why.

The scripting implementation (b

[2019-02-11 20:28] #221 closed

[2019-02-11 20:28] #225 closed

[2019-02-18 00:01] AkgunFatih opened #227 "how to edit client and or server files when dockered ?"
So after reading install.md how do we edit the files instead of ssh to docker ?
i would like to customize it to suit my needs

[2019-02-18 10:39] TiredSysOp commented on #227
There's too many variables in your question. Use ftp or sftp to edit config files. Nano should be enough to do light work of it anyway.

What is the server environment, would you like the front and backend on different machines? What customisations are you looking to make

[2019-02-19 02:53] sgsunder commented on #227
Unless I'm completely misreading this question...

Fork the repo, make whatever changes you want to the source code, then re-run `docker-compose build` and `docker-compose up -d` to run with your new changes. You shouldn't be changing application files inside the docker container once it's built. They will not persist on restart.

[2019-02-19 20:32] AkgunFatih commented on #227
Thank you, this is what i was looking for

[2019-02-19 20:32] #227 closed

[2019-03-01 00:24] dryshirt opened #229 "Recovering passwords for accounts without email?"
Hi,

I've got a local installation of szuru running, using Docker. I was just wondering if there is any way to recover lost passwords for an account with no e-mail configured? The issue came up after I set up an administrator account which I promptly forgot the password to; there isn't any data I'm afraid of losing but I'm still curious. (Not sure if an issue is the best way to frame this question

[2019-03-01 04:28] AkgunFatih commented on #219
i have done it
#228

[2019-03-01 07:22] TiredSysOp commented on #219
Get in mate, you massive legend!

[2019-03-01 08:00] rr- commented on #229
Try going to the db and setting `password_hash` of your admin account to `SHA1("1A2/$_4xVa" + "derp" + "NEW PASSWORD")` and its `password_salt` to `derp`. You should now be able to log in with `NEW PASSWORD`.

[2019-03-01 16:16] noirscape opened #230 "Feature request: Automatically set source to image URL"
Related: #204 and #215

With the source feature being added/reimplemented into the frontend, it would be nice to automatically set the source for a post to the upload URL if the post in question is uploaded through an URL.

[2019-03-02 07:19] #229 closed

[2019-03-06 23:17] alectrocute opened #231 "Client should be behind 127.0.0.1, not 0.0.0.0"
For those using a reverse proxy / caching application to expose the client to the internet, it's undesirable to have a fully open port (:8080) available.

Thoughts?

[2019-03-07 16:27] rr- commented on #231
It's behind a Docker so shouldn't matter much

[2019-03-07 16:38] alectrocute commented on #231
I agree, Docker is a great safeguard here. However, hear me out.

Everybody *should* be reverse proxying the :8080 port (assuming that's what the exposed client port is) to their :80 or :443. This allows for NGINX caching, ACL, rate-limiting; a bunch of really important features that really help their szurubooru instance fly & remain secure to attacks.

Having the Docker's NGINX port exposed by de

[2019-03-07 16:40] rr- commented on #231
I'd like to hear @sgsunder  opinion on this.

[2019-03-07 16:47] alectrocute commented on #231
I'm all ears, I may be wrong. Admittedly I'm not an expert, just a hobbyist who's maybe overly paranoid about web security.

Another example is a scenario of someone using Cloudflare for DDoS protection. They're setup like this:

`Public -> Cloudflare (*:443) -> NGINX caching/ACL/Lua proxy (*:80) -> Docker szuru client (*:8080)`

Let's say a bad guy wants to take down the website via DDoS. They us

[2019-03-07 20:44] sgsunder commented on #231
Well, I never really intended the default deployment (the `docker-compose.yml` file) to be all-purpose and production ready. (I even use a [different one](https://github.com/sgsunder/docker-compose-nas/blob/master/szurubooru/docker-compose.yml) on my personal system). The way it's written right now is to make it easy for people who find this project to spin up a full-functioning test instance on t

[2019-03-07 23:38] SirFireNewt commented on #192
anyone have a workaround for this issue?

[2019-03-08 01:42] joshuaavalon commented on #192
@SirFireNewt You need to find what dependencies is missing on your host OS or you a  host OS that support by psycopg2.

[2019-03-08 20:51] MaxValue commented on #192
Since there has been interest for this again, @WychWitch, please just post what you have. It doesn't have to be perfect. A few pointers in the right direction are much more helpful than nothing :)

[2019-03-09 06:55] rr- commented on #205
Closing for the same reasons as in https://github.com/mserajnik/hydrusrv/issues/11 .

[2019-03-09 06:55] #205 closed

[2019-03-09 06:59] rr- commented on #201
This requires either

1. third party application such as the mentioned szuruporter that already exists
2. rewriting szurubooru so that it uses hydrus
3. rewriting hydrus ui so that it accepts multiple clients

The projects are not compatible with each other.

[2019-03-09 06:59] #201 closed

[2019-03-09 08:12] DonaldTsang commented on #201
@rr- I would like to make a formal report that the Hydrus API is in the works.

[2019-03-09 21:29] onlymash opened #235 "Who can provide a website for testing APIs?"
Inadvertently found this engine, it looks pretty good, I am developing an Android app-[Flexbooru,](https://github.com/flexbooru/flexbooru) already compatible with Danbooru and Moebooru.
 Intended to be compatible with this engine, but I can't find a ready-made website to test😶

[2019-03-11 03:57] #235 closed

[2019-03-11 06:04] WychWitch commented on #192
Ah sorry I meant to post on here sooner! It's getting late so I'll grab my files and post them tomorrow!!

I gotta warn you though, I never got this working on my rpi. I gave up and bought an rpi3 and installed it on there instead (though it still needed some customization)

[2019-03-11 09:30] colin969 commented on #198
sort:random seems to be seeded though.

I've implemented it in my fork but it'd require more than just calling sort:random to actually pull up a random post sadly.

[2019-03-11 13:34] rr- commented on #198
They're not seeded, just cached on the client side. (Basically the web client caches every `GET` request till the user submits a `PUT` or `POST` request.)

[2019-03-16 11:37] MystPhysX commented on #198
I'm seeing similar results.

I was using the API at first with node-fetch (which does not have a cache) and sort:random was giving me the same order each time. I decided to test on the website search and sort:random loads the same order on every browser (mobile phone, desktop, desktop private window) till a `PUT` or `POST` is made like you suggested. Upon refresh after a request the sort order cha

[2019-03-16 11:42] rr- commented on #198
Sorry, it's actually on the server side. The behavior of caching `sort:random` is intended, otherwise pagination makes no sense. If you need more sophisticated cache control, amend this file: https://github.com/rr-/szurubooru/blob/master/server/szurubooru/middleware/cache_purger.py

[2019-03-26 23:41] WychWitch commented on #192
Sorry for the radio silence! I got hella busy and completely forgot until now!

Here are my files! If this isn't enough let me know, I might've forgotten one. Again, this is only for rpi3/arm32v7

replace all of the [name] and [password] with your own!

**Client/Dockerfile**
[code]
**Server/Dockerfile**
[code]
**.env**
[code]

**requirements.txt**
[code]

**docker-compose.yml**;
[code]

[2019-03-30 12:44] MystPhysX commented on #198
So I amended that file and added a simple check to see if 'random' is in the query and purging the cache if so.
The code that does this is
[code]
and it works as intended on the website search when searching for just `sort:random` or even `<tag> sort:random`

However, via the API `https://<booru>/api/posts/?query=sort:random` is giving me a random order but when adding a tag `http://<booru>/api/po

[2019-04-06 23:42] SamusAranX opened #238 "Can't install on Raspberry Pi, "pg_config executable not found""
Running `docker-compose build --pull` results in this output:

[code]

What's happening here?
I'm not familiar enough with Docker to attempt to fix this myself, so help would be appreciated.

[2019-04-07 00:37] sgsunder commented on #238
The Docker stuff will only work on x86-64 (Intel/AMD 64bit) the way it's written in the repo. But someone else managed to modify it to work on the Pi:

https://github.com/rr-/szurubooru/issues/192#issuecomment-476897156

Not sure if it works but it's worth a shot

[2019-04-07 02:13] SamusAranX commented on #238
Yeah, replacing my `server/Dockerfile` with theirs made it work. This should probably be part of the repository.

[2019-04-07 06:19] Hunternif opened #239 "Minor client bug: when setting color for category, uppercase letters lead to "invalid color""
E.g. #4aaee9 is valid, but #4AAEE9 is not. Both should be valid.

[2019-04-07 07:43] Hunternif opened #240 "Bug: clicking on tag with ':' doesn't escape character in query"
E.g. I have a tag "artist:craig_mullins". When I click the link to this tag on a post page, or when I click "usages" on the tag description page, it lands me on a query `/posts/query=artist%3Acraig_mullins`, where the ':' character is not escaped, and leads to the `Unknown named token` error.

[2019-04-07 15:06] #238 closed

[2019-04-07 16:04] SamusAranX opened #241 "Can't create tag categories"
Is there really no way to create tag categories in the Web interface?

I can't even get past the authentication part of the API, so that's a no-go for me.

[2019-04-07 16:06] rr- commented on #241
There is.

[2019-04-07 16:06] #241 closed

[2019-04-07 16:08] rr- commented on #241
![20190407_180741_itm](https://user-images.githubusercontent.com/1045476/55686329-2391c900-5960-11e9-8614-a9db132771bb.png)

→

![20190407_180751_qdn](https://user-images.githubusercontent.com/1045476/55686330-27255000-5960-11e9-8182-41ade0490a61.png)

[2019-04-07 16:09] SamusAranX commented on #241
Welp, that was a major failure on my part. Apologies.

[2019-04-08 17:15] ReAnzu opened #243 "Enhancement: Left and Right Swipe Gestures On Post Images"
Using Szurubooru is pleasant on the desktop, on mobile it would be more natural to be able to move between posts using a swipe gesture.

[2019-04-08 19:50] rr- commented on #243
I believe this can be now closed after your enhancement was merged :)

[2019-04-08 19:57] ReAnzu commented on #239
How about instead of allowing both representations, we simply force the user input on the tag categories page to be lowercased?

ReAnzu/szurubooru@3ff6bc0f8afdef68d86a96bac1afcb9d5e54919d

[2019-04-08 20:00] ReAnzu commented on #243
Thanks!

[2019-04-08 20:00] #243 closed

[2019-04-08 20:07] rr- commented on #240
Fixed in https://github.com/rr-/szurubooru/commit/93910a1655f0f536d8927415935ab316bcad376f

[2019-04-08 20:07] #240 closed

[2019-04-08 20:08] rr- commented on #231
I think it's okay to close it after I merged @alectrocute changes in https://github.com/rr-/szurubooru/commit/2ec6b978ac3f7c6574148e71312018fc8526b9f7 .

[2019-04-09 05:51] #239 closed

[2019-04-09 10:05] Hunternif commented on #162
Is anyone working on this?

[2019-04-09 11:31] rr- commented on #162
I'm not.

[2019-04-11 21:40] warsix4 opened #248 "Unknown error (delete_by_query() got an unexpected keyword argument ‘doc_type’)."
I am unable to upload any type of file to my szurubooru installation. The error I receive is as in the title:

`Unknown error (delete_by_query() got an unexpected keyword argument ‘doc_type’).`

Any suggestions? Thanks!

[2019-04-14 18:31] Hunternif opened #249 "How to set up a development environment?"
Hi! I would be grateful if someone could please guide me on how to set up a development environment, where I can update the SQL schema and run unit tests.

Correct me if I'm wrong, but it looks like in order to update the SQL schema, I need to run some commands using `alembic` to generate a migration script, and then it would be executed upon rebuilding the server.

I've tried following `INSTALL-O

[2019-04-14 22:36] warsix4 commented on #248
After further testing, this only happens with `.jpg` and `.png` files.

[2019-04-15 00:43] Hunternif commented on #249
Disregard the above. Carefully following the instructions in INSTALL-OLD.md resolved my issue. (It was only _after_ the Docker setup has completed, if that makes a difference.)

[2019-04-15 00:43] #249 closed

[2019-04-15 04:48] Hunternif commented on #248
I encountered the same error when running unit test `test_image_hash.py`

[2019-04-15 04:51] Hunternif opened #250 "sqlite3 error in unit tests"
Apologies if my issue is a result of blatant misuse of programs.
In my attempt to run unit tests for the server, I followed the manual in `INSTALL-OLD.md`. Initial running `pytest` caused half of the tests to fail, and as I stepped through the first one, I encountered this error:
[code]
Which seemed to be pointing to the parameter `flags` with a value of `[]`.
I managed to fix it and get only 5 te

[2019-04-15 21:00] Hunternif commented on #248
I'm guessing this is because of an incompatible version of the `elasticsearch` library. @warsix4 did you install szurubooru with Docker?

[2019-04-15 21:32] warsix4 commented on #248
Yes I did. Is there any specific logs or info I can provide?
___

Cody Warmbo
warmbo.com

On Mon, Apr 15, 2019 at 4:00 PM Hunternif <notifications@github.com> wrote:

[2019-04-15 21:43] Hunternif commented on #248
I'm speculating as I'm not super familiar with these technologies, but perhaps you could try and install again on a clean system and share the output fom these steps:
[code]

[2019-04-15 22:01] warsix4 commented on #248
I'd like to resort from recreating a VM but will do so in a few hours I guess if I can't find any solutions or at least causes.

[2019-04-15 22:53] warsix4 commented on #248
I spun up a new Ubuntu Server 18.04 instance and installed docker/docker-compose. During the

`docker-compose build --pull` command I get the error:
'elasticsearch-dsl 6.3.1 has requirement elasticsearch<7.0.0,>=6.0.0, but you'll have elasticsearch 7.0.0 which is incompatible.'

This time after installation I also am unable to actually start the sql container... /var/local/szurubooru does not seem

[2019-04-15 23:18] warsix4 commented on #248
Now after ANOTHER attempt I am facing this issue

[code]
I have chmod'd the directory, and run everything as sudo, but no go. :(

I really wish the documentation was more specific or suggested a distro to use.

[2019-04-16 00:14] warsix4 commented on #248
I have spun up a Debian9 VM instead of Ubuntu this time and now face the exact same error as in the post title again.

[2019-04-16 03:44] Hunternif commented on #248
As I understand it, the current setup process fetches the latest version of every dependency (Docker image?) Elasticsearch 7.0 came out just 5 days ago: https://www.elastic.co/blog/elasticsearch-7-0-0-released, so maybe it changed its API (removed argument 'doc_type'), and I haven't experienced issues because my server was set up before this release. I guess it should be possible to update `docker

[2019-04-16 06:59] Hunternif commented on #248
I stand corrected: it was not in docker-compose, but in API requirements. You can use my branch until it's merged.

[2019-04-16 12:54] warsix4 commented on #248
Thanks so much! I modified the `requirements.txt` to specify the ElasticSearch version and when I ran `docker-compose build` again everything put itself into place and I can upload all supported filetypes again!

[2019-04-16 12:55] #248 closed

[2019-04-16 17:26] warsix4 opened #253 "[Suggestion] Stats page"
After getting my szurubooru instance setup properly, I'm now wondering how I can find metrics about the site. e.g., How many posts, how many safe, sketchy, unsafe, size of content on disk. A stats page sounds useful to me.

[2019-04-16 21:45] sgsunder commented on #253
For number of total posts and storage usage, the API [already provides this](https://github.com/rr-/szurubooru/blob/master/API.md#getting-global-info) and it's displayed on the bottom of the home page:

![image](https://user-images.githubusercontent.com/16943235/56246133-1d41d200-606f-11e9-94bb-631a02433a60.png)

[2019-04-17 19:41] Hunternif commented on #250
I think this is caused by `post.flags` represented as array in the application, but string in the database.

[2019-04-18 13:41] #253 closed

[2019-04-18 22:06] sgsunder commented on #250
Seems related to #252, then? I think that I should rewrite the Post model then in `model/post.py`. Right now the translation between the string type stored in the database and the array type that's used by response/requests is happening later on in the translation layer, but this possible can happen directly in the Post model itself.

[2019-04-22 22:53] sgsunder opened #254 "Fix pyyaml loader deprecation warning"
Logger spits out the following warning when loading the config files:

`/opt/app/szurubooru/config.py:50: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.`

I'll try and look into this when I get the chance (hopefully this weekend) but if someone else wants to tackle this in the meantim

[2019-04-23 00:02] sgsunder commented on #148
Closing this for now. If there seems to be a high demand for this feature, please make a PR.

[2019-04-23 00:02] #148 closed

[2019-04-23 00:33] #250 closed

[2019-04-23 01:59] sgsunder commented on #206
Closing for now. Please open a new issue if you or anyone else is having problems with installation.

[2019-04-23 01:59] #206 closed

[2019-04-23 02:10] sgsunder commented on #200
Closing. I think that this is a pretty major change and would add a lot of dependencies, so if there is a strong desire for this, it should probably be done on a forked repo.

[2019-04-23 02:10] #200 closed

[2019-04-23 02:18] sgsunder commented on #213
We can switch `image: postgres:alpine` to `image: postgres:11-alpine` or even an earlier version in the docker compose file. Would this be acceptable?

[2019-04-23 02:30] #231 closed

[2019-04-23 02:31] sgsunder commented on #219
Closing. Make further discussions on the PR #228

[2019-04-23 02:31] #219 closed

[2019-04-27 16:18] WychWitch opened #255 "Easiest/Best way to backup szurubooru?"
Hello! After using the booru for about 4 months I realized I need to be able to back it up in case anything goes wrong. While I could make a clone of the SD card it's running off of (rpi3), I can't imagine that's the most optimal way.

Has anyone else been backing up their boorus? How? Thank you do much in advance, and I'm sorry if this question is too off topic

[2019-04-27 22:56] #254 closed

[2019-04-28 10:23] noirscape commented on #254
I'd like to note that you can also use `yaml.safe_load()` instead of this
method.

On Sun, Apr 28, 2019, 12:56 AM Shyam Sunder <notifications@github.com>
wrote:

[2019-04-28 10:26] noirscape commented on #255
Backup the folders from your mounts if you're using docker as well as your `.env` file.

That's all there is to it.

Restoring is then just a case of replacing your `.env` file with the one from your backup and pointing the mounts to your restored backup.

[2019-04-28 12:19] sgsunder commented on #255
1) **Image files**. Back this folder up using whatever normal methods that you wish. If you are using the provided docker-compose file, then it should be located where you set `$MOUNT_DATA` in the .env file.

2) **Database**. You can either back up the folder set to `$MOUNT_SQL` or use any other methods available for backing up a PostgreSQL database.

The Elasticsearch Index *does not* need to be

[2019-04-29 02:11] WychWitch commented on #255
Thank you so much! That was indeed *much* faster and smaller than resorting to copying the entire drive!

[2019-04-29 06:52] TiredSysOp opened #256 "Bug: Automatic password recovery emails are missing the base URI"
Will also bring up #193 as well, having a option to enter a domain or subdomain in the config is a nice workaround.

![bug](https://user-images.githubusercontent.com/31832099/56880020-0463f400-6a53-11e9-96a2-d2e379ed9e43.png)

The booru has it's name set to a name that will resolve to itself if entered in an address bar, for the life of me I can't get the base uri to show in the link in the passwo

[2019-04-29 14:37] #255 closed

[2019-05-06 18:48] warsix4 opened #257 "Unhandled file type: ‘application/octet-stream’"
When uploading .jpg files I encounter this error. Any solution?

[2019-05-06 20:32] sgsunder commented on #257
Can you post an example file which gives this error?

[2019-05-06 21:44] warsix4 commented on #257
**NSFW**: https://imgur.com/a/eh4MGX2

It's not just this file though, it's the majority of .jpg files I've tried to upload. Others have indicated the same error happening to them for my server as well.

[2019-05-06 22:02] sgsunder commented on #257
Unfortunately, I can't seem to reproduce this error on my end. Your file uploads just fine on my test server.

Possible troubleshooting steps:
- Did you check that you were on the latest commit?
- Is there a proxy being used to send the requests out to the server?
- If you are downloading the file through inputting the URL, can you post what User-Agent string you are using in the `config.yaml` fil

[2019-05-06 22:18] warsix4 commented on #257
I'm a few behind, I am using Caddy but with the `transparent` function in place for the proxy. This is a direct upload I am attempting, I will attempt uploading it via URL now though!

[2019-05-07 18:06] warsix4 commented on #257
So after uploading the image to Imgur and then downloading it again, I have a copy that is able to be uploaded? I'm not sure what that could've changed.

I'm just going to assume there is some issue with my files.

[2019-05-07 22:10] sgsunder commented on #257
Closing for now as it doesn't seem to be an issue with szurubooru. You can open a new issue if you feel that there's a bug.

[2019-05-07 22:10] #257 closed

[2019-05-09 19:42] GlassedSilver commented on #230
Oh hell yes, that'd be splendid!

[2019-05-09 20:05] GlassedSilver commented on #189
Good idea!

[2019-05-09 20:24] GlassedSilver commented on #162
Adding my vote for this feature.

[2019-05-09 20:46] GlassedSilver commented on #209
Seems to be alphabetical for me? I tried recreating tag categories (with a fairly fresh install, mind you) and no luck... Order of creation didn't change a thing.

[2019-05-09 20:52] GlassedSilver commented on #213
At some point we might run into a situation where we might want to use a newer version for feature or stability improvements (or speed) and if that happens a little later we might be looking at an unsupported  upgrade path.

Oh and let's not forget old versions are fine for things like you running your own little booru for private needs in your own LAN like I do, but someone who runs an actual pub

[2019-05-09 21:00] GlassedSilver opened #258 "[Suggestion] Allow spaces in tags"
I think the title is pretty self-explanatory. It'd be very welcome to be able to use spaces in tags.

Underscores are the work-around, I'm well aware, but that's exactly what they are. A work-around.

[2019-05-10 01:31] sgsunder commented on #213
Switching to `postgres:11-alpine` will still give you patches and minor version number upgrades, it would just keep you from upgrading the major version number to 12 or later. And Postgres 11's end of life is scheduled for November 9th, 2023 according to the Postgres website, so I don't think that would be an issue anytime soon.

November 9, 2023
--

November 9, 2023
--

[2019-05-10 01:35] sgsunder commented on #258
This feels like it would add way more trouble than it's worth. You would need to define escape sequences for searching by tags, for instance.

Beyond the fact that spaces look better aesthetically than underscores, dots, etc., can you give any justification as to why this would be worth the effort?

[2019-05-10 04:58] GlassedSilver commented on #213
Fair enough... Still worth keeping in mind what OP said.

[2019-05-10 05:06] GlassedSilver commented on #258
Brackets always worked pretty well for searching strings in any other scenario.

And well, I think esthetics are quite important and as far as I can tell certainly a goal of this project.

Do we really need Gravatar instead of just uploading a picture manually? Sure, might be easy drop-in code, but you know, it's not like esthetics are unimportant. I could elaborate on that for a long time, but in

[2019-05-10 16:04] noirscape commented on #213
Dunno if my input was asked for, but I'm personally fine with version pinning `postgres`.

[2019-05-10 19:03] MaxValue commented on #162
Mine too.

[2019-05-10 19:41] sgsunder commented on #258
I think that if someone make a PR with this feature without forcing awkward search syntax or hindering the usability of those who don't need whitespace in tags, that would be interesting. Beyond that, I don't think that any of the regular contributors would be interested in taking this on themselves.

[2019-05-10 19:44] #189 closed

[2019-05-10 19:51] #192 closed

[2019-05-10 19:59] #213 closed

[2019-05-11 05:11] GlassedSilver commented on #258
How are brackets awkward? And if you don't want to use spaces you can keep using underscores can't you?

[2019-05-12 21:32] Metal-Mighty opened #259 "Default tag on upload"
Gelbooru, and maybe other *booru boards, add a default "tagme" tag to uploads when no tag is specified at first.
Since, according to other issues, tagging on upload doesn't seem to be coming soon to szurubooru, could it be possible to add the option to add a default tag on new posts, so that untagged posts can be found easily later on?

[2019-05-13 08:22] noirscape commented on #259
Just search for `tag-count:0`.

[2019-05-14 02:03] #259 closed

[2019-05-14 22:49] neobooru commented on #258
I could see why you wouldn't want to use underscores as a replacement for spaces, but I can't think of a way to make searching not awkward.
Let's say that I want to search for the tags `neo` and `rwby`, currently I do that with `neo rwby`. You suggested using brackets, do you mean like this `{neo} {rwby}`?

Furthermore if we were to use an escape character we'd need to make that opt-in, since ever

[2019-05-21 12:32] GlassedSilver commented on #258
Sounds wonderful!

[2019-05-22 17:07] sgsunder commented on #258
I think that a pure client side solution, a Boolean flag that is stored in cookies and makes underscores in tags display as spaces, would be a good enhancement. I'm a bit busy to work on this myself but I can review a PR

[2019-05-24 00:03] #258 closed

[2019-05-24 20:19] Metal-Mighty opened #262 "Bug: Client does not send auth tokens when calling GET /api/tag-categories"
Hi there,

I'm running an updated szurubooru instance and the tags aren't displayed in the color linked to their category, but in the default blue color.
However, if I go to the tag categories and save the changes again (without changing anything), tags will have their proper color, until I reload the page. Navigating through the booru won't break the colors until the page is completely reloaded a

[2019-05-26 22:41] neobooru commented on #262
Could you open the developer tools and then reload the page. Does the console contain any red lines with something like '403 Forbidden /api/tag-categories'?

[2019-05-26 22:47] neobooru commented on #256
I solved this issue for me as seen in the commit linked above (https://github.com/neobooru/szurubooru/commit/47760de37c5a57ed4214bf22fe88a5039df8f746), however this solution changes the config.yml in some 'breaking' ways, which is why I haven't opened a pull request yet. Any thoughts about this solution, or possible alternatives?

This would also solve #193

[2019-05-27 16:06] Metal-Mighty commented on #262
I do have two errors when I load the page
![image](https://user-images.githubusercontent.com/5247527/58430518-ecab7a00-80a9-11e9-87be-db44dcf9d193.png)

I usually use Firefox and had checked it but they don't color the line for 403 error codes, they only display the status at the end of the line, so I didn't notice it...

[2019-05-27 18:24] neobooru commented on #262
I also saw this issue on my install a few days ago, but I just assumed I did something wrong. This is probably because you only allow signed-in users to view the tags-categories (?), and the client doesn't send the Auth token with the request. I might look into this sometime, but for a temporary workaround you can set the `tag_categories:list` privilege like this in config.yml (or config.yml.dist

[2019-05-27 20:16] AkgunFatih opened #264 "FATAL: password authentication failed for user "szuru""
i get this error after running the last step "docker-compose up -d"
[code]

[2019-05-27 20:36] Metal-Mighty commented on #262
Ah, that was the cause indeed ! I switched the privilege to anonymous and it's now working.
This instance is a private one used to host my own pictures and as a PoC for a future public instance, and therefore switched any anonymous privilege to either regular or above.

Thank you for the help, I'll leave the issue open in case you want to keep track of it for a future fix.

[2019-05-28 21:19] sgsunder commented on #264
It seems like you didn't pass the right database password through the environment variables.

- Did you copy `example.env` to `.env` and remember to set a value for `POSTGRES_PASSWORD`?
- Are you using the database in the docker-compose script as provided, or using some different database.
- Did you have one value for `POSTGRES_PASSWORD` when you first started up the database container, then chang

[2019-05-28 21:27] sgsunder commented on #256
@neobooru I think that your solution is a good idea, I would open up a PR!

[2019-05-28 22:06] AkgunFatih commented on #264
this is my env file

[code]

and this is my docker-compose file

[code]

i dont see anything wrong in it do you ?

[2019-05-28 22:39] AkgunFatih commented on #264
when using root user everything works great

[2019-05-28 22:39] #264 closed

[2019-05-30 23:20] neobooru commented on #257
For future reference, I got this exact same error when I queued the file for upload (when you can select safe, sketchy, etc) -> renamed the file on pc (or moved/deleted) -> click upload (to actually start uploading the file).